- var title ='Detalle de persona'
include ..\includes\layout
block content
html(lang="es")
head
    link(rel="stylesheet" href="https://unpkg.com/leaflet@1.9.4/dist/leaflet.css" integrity="sha256-p4NxAoJBhIIN+hmNHrzRCf9tD/miZyoHS5obTRR9BMY=" crossorigin="")
    script(src="https://unpkg.com/leaflet@1.9.4/dist/leaflet.js" integrity="sha256-20nQCchB9co0qIjJZRGuk2/Z9VM+kNiyxNV1lvTlZBo=" crossorigin="")
body
    h2.text-center Detalle de los datos de la persona
    if messages.error
        .alert.alert-danger
            = messages.error
    div#form
        .form-group
            label.form-label.text-center(for="dni") DNI:
            .input-group
                input.form-control.text-center(type="text" id="dni" name="DNI" value=persona.DNI disabled)
        .form-group
            label.form-label.text-center(for="nombre") Nombre:
            .input-group.has-validation
                input.form-control.text-center(type="text" id="nombre" name="nombre" placeholder="Ingrese un nombre de 3 a 50 caracteres" title="El nombre solo puede contener un máximo de cincuenta caracteres" value=persona.nombre disabled)
        .form-group
            label.form-label.text-center(for="apellido") Apellido:
            .input-group.has-validation
                input.form-control.text-center(type="text" id="apellido" name="apellido" placeholder="Ingrese un nombre de 3 a 50 caracteres" title="El apellido solo puede contener un máximo de cincuenta caracteres" value=persona.apellido disabled)
        .form-group
            label.form-label.text-center(for="email") Email:
            .input-group.has-validation
                input.form-control.text-center(type="email" id="email" name="email" placeholder="Ingrese un email válido" title="El email debe ser válido" value=persona.email disabled)
        .form-group
            label.form-label.text-center(for="fechaDeNacimiento") Fecha de Nacimiento:
            .input-group.has-validation
                input.form-control.text-center(type="date" id="fechaDeNacimiento" name="fechaDeNacimiento" value=persona.fechaDeNacimiento disabled)
        .form-group
            label.form-label.text-center(for="ocupacion") Ocupación:
            if(persona.ocupacion=="agente de salud")
                input.form-control.text-center(type="text" name="ocupacion" id="ocupacion" value=persona.ocupacion disabled)
                .form-group.d-inline#matriculaDiv
                    label.form-label.text-center(for="matricula" id="matriculaLabel") Matrícula:
                    .input-group.has-validation
                        input.form-control.text-center(type="number" id="matricula" name="matricula" placeholder="Ingrese una matrícula de 8 digitos" title="La matrícula debe contener 8 digitos" disabled value=persona.Agentedesalud.matricula)
            else 
                input.form-control.text-center(type="text" name="ocupacion" id="ocupacion" value=persona.ocupacion disabled) 
        .form-group
            label.form-label.text-center(for="genero") Género:
            input.form-control.text-center(type="text" name="genero" id="genero" value=persona.genero disabled)
        .form-group
            label.form-label.text-center(for="celular1") Celular 1:
            .input-group.has-validation
                input.form-control.text-center(type="tel" id="celular1" name="celular1" placeholder="No posee" title="El celular debe contener 10 digitos" value=persona.Telefono.celular1 disabled)
        .form-group
            label.form-label.text-center(for="celular2") Celular 2:
            .input-group.has-validation
                input.form-control.text-center(type="tel" id="celular2" name="celular2" placeholder="No posee" title="El celular debe contener 10 digitos" value=persona.Telefono.celular2 disabled)
        .form-group
            label.form-label.text-center(for="patologiaBase") Patologia Base:
            .input-group.has-validation
                input.form-control.text-center(name="patologiaBase" id="patologiaBase" value=persona.Patologiabase.patologiaBase disabled)
        .form-group
            label.form-label.text-center(for="direccion") Dirección:
            .input-group.has-validation
                input.form-control.text-center(type="text" id="direccion" name="direccion" value=persona.direccion disabled)
        .form-group
            label.form-label.text-center(for="localidad") Localidad:
            .input-group.has-validation
                input.form-control.text-center(type="text" id="localidad" name="localidad" value=persona.localidad disabled)
        .form-group
            label.form-label.text-center(for="provincia") Provincia:
            input.form-control.text-center(type="text" id="provincia" name="provincia" value=persona.provincia disabled)

        br
        div.text-center
            button.btn.btn-primary#detalle Editar
            | &nbsp;&nbsp;&nbsp;&nbsp;
            button.btn.btn-primary(type="button" onclick="window.history.back()") Volver
script.
    $(function () {

        $(detalle).on('click', function() {
            const DNI = !{JSON.stringify(persona)}.DNI
            window.location.href = `/personas/${DNI}`
        });
    });
