mixin modalesOperador()
    div.modal#alertModal(tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    h5.modal-title#alertModalLabel Alerta
                    button.close(type="button" data-bs-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") ×
                div.modal-body
                    p#mensajeAlerta.text-center
    .container.mt-5
        .row.justify-content-center
            .col-md-6
                .card.card-button.mb-3(data-bs-toggle='modal' data-bs-target='#mainModal')
                    .card-body.text-center
                        h5.card-title Accede a la logistica de los lotes
                    .card-footer.text-center
                        button.btn.btn-warning#botonNacional(type='button' data-bs-toggle='modal' data-bs-target='#modalDepositoNacional') Registrar envio al Depósito nacional
                        br
                        br
                        button.btn.btn-warning#botonProvincial(type='button' data-bs-toggle='modal' data-bs-target='#modalDepositoProvincial') Registrar envio al Depósito provincial
                        br
                        br
                        button.btn.btn-warning#botonCentroDeVacunacion(type='button' data-bs-toggle='modal' data-bs-target='#modalCentroDeVacunacion') Registrar envio al Centro de Vacunación
    .modal.fade(id='modalDepositoNacional' tabindex='-1' aria-labelledby='modalDepositoNacionalLabel' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Registrar envios al Depósito Nacional
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    .form-group
                        label.text-center Seleccione un lote proveedor:
                        .input-group
                            input.form-control#loteProveedorNacional(type='text' disabled)
                            button.btn.btn-primary#loteProveedorNacionalSeleccionar(type='button' data-bs-toggle='modal' data-bs-target='#ModalDataTableLoteProveedor' data-bs-dismiss='modal') Seleccionar
                    br
                    .form-group.d-none#formLoteInternoNacional
                        label.text-center Seleccione el/los lote/s interno/s:
                        .input-group
                            input.form-control#loteInternoNacional(type='text' disabled)
                            button.btn.btn-primary#loteInternoNacionalSeleccionar(type='button' data-bs-toggle='modal' data-bs-target='#ModalDataTableLoteInterno' data-bs-dismiss='modal') Seleccionar
                    br
                    .form-group.d-none#formDepositoNacional
                        label.text-center Seleccione el depósito nacional:
                        .input-group
                            input.form-control#inputDepositoNacional(type='text' disabled)
                            button.btn.btn-primary#depositoNacionalSeleccionar(type='button' data-bs-toggle='modal' data-bs-target='#ModalDataTableDeposito' data-bs-dismiss='modal') Seleccionar
                    br
                    .form-group.d-none#fechaLlegadaDepositoNacional
                        label.form-label Fecha de llegada al Depósito Nacional:
                        .input-group.has-validation
                            input.form-control.is-invalid#fechaDeLlegadaDepositoNacional(type="date")
                            .invalid-feedback.d-none#fechaDeLlegadaDepositoNacionalSuperior La fecha seleccionada es superior a la fecha actual
                            .invalid-feedback.d-none#fechaDeLlegadaDepositoNacionalAnterior La fecha seleccionada es anterior a la fecha de compra
                            .invalid-feedback.d-none#fechaDeLlegadaDepositoNacionalVacio El campo no puede estar vacio
                    br
                    .form-group.text-center
                        button.btn.btn-primary.d-none#confirmarDepositoNacional(type='button' data-bs-toggle='modal' data-bs-dismiss='modal') Confirmar
    .modal.fade(id='modalDepositoProvincial' tabindex='-1' aria-labelledby='modalDepositoProvincialLabel' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Registrar envios al Depósito Provincial
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    .form-group
                        label.text-center Seleccione un lote proveedor:
                        .input-group
                            input.form-control#loteProveedorProvincial(type='text' disabled)
                            button.btn.btn-primary#loteProveedorProvincialSeleccionar(type='button' data-bs-toggle='modal' data-bs-target='#ModalDataTableLoteProveedor' data-bs-dismiss='modal') Seleccionar
                    br
                    .form-group.d-none#formLoteInternoProvincial
                        label.text-center Seleccione el/los lote/s interno/s:
                        .input-group
                            input.form-control#loteInternoProvincial(type='text' disabled)
                            button.btn.btn-primary#loteInternoProvincialSeleccionar(type='button' data-bs-toggle='modal' data-bs-target='#ModalDataTableLoteInterno' data-bs-dismiss='modal') Seleccionar
                    br
                    .form-group.d-none#formDepositoProvincial
                        label.text-center Seleccione el depósito Provincial:
                        .input-group
                            input.form-control#inputDepositoProvincial(type='text' disabled)
                            button.btn.btn-primary#depositoProvincialSeleccionar(type='button' data-bs-toggle='modal' data-bs-target='#ModalDataTableDeposito' data-bs-dismiss='modal') Seleccionar
                    br
                    .form-group.d-none#fechaSalidaDepositoNacional
                        label.form-label Fecha de salida al Depósito Provincial:
                        .input-group.has-validation
                            input.form-control.is-invalid#fechaDeSalidaDepositoNacional(type="date")
                            .invalid-feedback.d-none#fechaDeSalidaDepositoNacionalSuperior La fecha seleccionada es superior a la fecha actual
                            .invalid-feedback.d-none#fechaDeSalidaDepositoNacionalAnterior La fecha ingresada debe ser posterior a la fecha de llegada al depósito nacional
                            .invalid-feedback.d-none#fechaDeSalidaDepositoNacionalVacio El campo no puede estar vacio
                    br
                    .form-group.d-none#fechaLlegadaDepositoProvincial
                        label.form-label Fecha de llegada al Depósito Provincial:
                        .input-group.has-validation
                            input.form-control.is-invalid#fechaDeLlegadaDepositoProvincial(type="date")
                            .invalid-feedback.d-none#fechaDeLlegadaDepositoProvincialSuperior La fecha seleccionada es superior a la fecha actual
                            .invalid-feedback.d-none#fechaDeLlegadaDepositoProvincialAnterior La fecha ingresada debe ser posterior a la fecha de salida del depósito nacional
                            .invalid-feedback.d-none#fechaDeLlegadaDepositoProvincialVacio El campo no puede estar vacio
                    br
                    .form-group.text-center
                        button.btn.btn-primary.d-none#confirmarDepositoProvincial(type='button' data-bs-toggle='modal' data-bs-dismiss='modal') Confirmar
    .modal.fade(id='modalCentroDeVacunacion' tabindex='-1' aria-labelledby='modalCentroDeVacunacionLabel' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title Registrar envios al Centro de Vacunación
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    .form-group
                        label.text-center Seleccione un lote proveedor:
                        .input-group
                            input.form-control#loteProveedorCentroDeVacunacion(type='text' disabled)
                            button.btn.btn-primary#loteProveedorCentroDeVacunacionSeleccionar(type='button' data-bs-toggle='modal' data-bs-target='#ModalDataTableLoteProveedor' data-bs-dismiss='modal') Seleccionar
                    br
                    .form-group.d-none#formLoteInternoCentroDeVacunacion
                        label.text-center Seleccione el/los lote/s interno/s:
                        .input-group
                            input.form-control#loteInternoCentroDeVacunacion(type='text' disabled)
                            button.btn.btn-primary#loteInternoCentroDeVacunacionSeleccionar(type='button' data-bs-toggle='modal' data-bs-target='#ModalDataTableLoteInterno' data-bs-dismiss='modal') Seleccionar
                    br
                    .form-group.d-none#formCentroDeVacunacion
                        label.text-center Seleccione el Centro de vacunación:
                        .input-group
                            input.form-control#inputCentroDeVacunacion(type='text' disabled)
                            button.btn.btn-primary#CentroDeVacunacionSeleccionar(type='button' data-bs-toggle='modal' data-bs-target='#ModalDataTableCentroDeVacunacion' data-bs-dismiss='modal') Seleccionar
                    br
                    .form-group.d-none#fechaSalidaDepositoProvincial
                        label.form-label Fecha de salida del depósito provincial:
                        .input-group.has-validation
                            input.form-control.is-invalid#fechaDeSalidaDepositoProvincial(type="date")
                            .invalid-feedback.d-none#fechaDeSalidaDepositoProvincialSuperior La fecha seleccionada es superior a la fecha actual
                            .invalid-feedback.d-none#fechaDeSalidaDepositoProvincialAnterior La fecha seleccionada es anterior a la fecha de compra
                            .invalid-feedback.d-none#fechaDeSalidaDepositoProvincialVacio El campo no puede estar vacio
                    br
                    .form-group.d-none#fechaLlegadaCentroDeVacunacion
                        label.form-label Fecha de llegada al centro de vacunación:
                        .input-group.has-validation
                            input.form-control.is-invalid#fechaDeLlegadaCentroDeVacunacion(type="date")
                            .invalid-feedback.d-none#fechaDeLlegadaCentroDeVacunacionSuperior La fecha seleccionada es superior a la fecha actual
                            .invalid-feedback.d-none#fechaDeLlegadaCentroDeVacunacionAnterior La fecha seleccionada es anterior a la fecha de compra
                            .invalid-feedback.d-none#fechaDeLlegadaCentroDeVacunacionVacio El campo no puede estar vacio
                    br
                    .form-group.text-center
                        button.btn.btn-primary.d-none#confirmarCentroDeVacunacion(type='button' data-bs-toggle='modal' data-bs-dismiss='modal') Confirmar
    .modal.fade(id='ModalDataTableLoteProveedor' tabindex='-1' aria-labelledby='ModalDataTableLoteProveedorLabel' aria-hidden='true')
        .modal-dialog(style="max-width: 1000px;")
            .modal-content
                .modal-header
                    h5.modal-title Tabla de lotes proveedores
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    div.table.responsive
                        table#tablaLoteProveedor.table.table-striped.table-bordered
    .modal.fade(id='ModalDataTableLoteInterno' tabindex='-1' aria-labelledby='ModalDataTableLoteInternoLabel' aria-hidden='true')
        .modal-dialog(style="max-width: 1000px;")
            .modal-content
                .modal-header
                    h5.modal-title Tabla de lotes internos
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    div.table.responsive
                        table#tablaLoteInterno.table.table-striped.table-bordered
    .modal.fade(id='ModalDataTableDeposito' tabindex='-1' aria-labelledby='ModalDataTableDepositoLabel' aria-hidden='true')
        .modal-dialog(style="max-width: 1000px;")
            .modal-content
                .modal-header
                    h5.modal-title Tabla de Depósitos
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    div.table.responsive
                        table#tablaDeposito.table.table-striped.table-bordered
    .modal.fade(id='ModalDataTableCentroDeVacunacion' tabindex='-1' aria-labelledby='ModalDataTableCentroDeVacunacionLabel' aria-hidden='true')
        .modal-dialog(style="max-width: 1000px;")
            .modal-content
                .modal-header
                    h5.modal-title Tabla de Centros de vacunación
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    div.table.responsive
                        table#tablaCentrosDeVacunacion.table.table-striped.table-bordered

    script.
        $(document).ready(function () {
            let tablaLoteI=new DataTable('#tablaLoteInterno');
            let tablaLoteP=new DataTable('#tablaLoteProveedor');
            let tablaD=new DataTable('#tablaDeposito');
            let tablaC=new DataTable('#tablaCentrosDeVacunacion')
            let fechaCompra;
            let numerosDeSerie;
            let ultimoBotonClickeado;

            $('#botonNacional, #botonProvincial, #botonCentroDeVacunacion').on('click', function () {
                ultimoBotonClickeado = this.id.slice(5, this.id.length)
            })

            function mostrarAlerta(texto) {
                $(mensajeAlerta).text(texto)
                $(alertModal).modal('show')
            }

            function mostrarError(campo, error) {
                campo.addClass('is-invalid').removeClass('is-valid')
                $(`#${campo.attr('id')}${error}`).removeClass('d-none')
            }

            function quitarError(campo) {
                campo.addClass('is-valid').removeClass('is-invalid')
                $(`div[id^=${campo.attr('id')}].invalid-feedback`).addClass('d-none')
            }

            function tablaProveedor(nivel){
                return {
                    ajax: {
                        url:'/lotesproveedores/lotesproveedoresJSON',
                        dataSrc: ""
                    },
                    select: {
                        style: 'single',
                        items: 'row'
                    },
                    lengthChange: false,
                    pageLength: 15,
                    language: {
                        url: '/idiomaTabla.json'
                    },
                    order: [[0, 'desc']],
                    columns: [
                        {data: 'numeroDeLote', title: 'Número de Lote'},
                        {data: ['Laboratorio.nombreLaboratorio'], title: 'Laboratorio Fabricante'},
                        {data: 'tipoDeVacuna', title: 'Tipo de Vacuna'},
                        {data: 'nombreComercial', title: 'Nombre Comercial'},
                    ],
                    columnDefs: [
                        {className: 'dt-center', targets: [0, 1, 2, 3]},
                    ],
                    dom: '<"top"Bf>rt<"bottom"lp><"clear">',
                    buttons: [
                        {
                            text: 'Seleccionar',
                            className: 'btn btn-primary',
                            attr: {
                                id:'Seleccionar',
                                'data-bs-toggle':'modal',
                                'data-bs-target':'#modal'+ (nivel=='CentroDeVacunacion' ? 'CentroDeVacunacion' : 'Deposito'+nivel), // nivel=='CentroDeVacunacion' ? 'CentroDeVacunacion' : 'Deposito'+nivel
                                'data-bs-dismiss':'modal'
                            },
                            action: function ( e, dt, node, config) {
                                var seleccionado = dt.rows({selected:true}).data();
                                if (seleccionado.length>0){
                                    fechaCompra = seleccionado[0]['fechaDeCompra'];
                                    $('#loteProveedor'+nivel).val(seleccionado[0]['numeroDeLote'] );
                                    $('#formLoteInterno'+nivel).removeClass('d-none')
                                    $('#loteInterno'+nivel).val('')
                                    $('#input'+(nivel=='CentroDeVacunacion' ? 'CentroDeVacunacion' : 'Deposito'+nivel)).val('')
                                    $('#fechaDeLlegada'+(nivel=='CentroDeVacunacion' ? 'CentroDeVacunacion' : 'Deposito'+nivel)).val('')
                                    $('#form'+(nivel=='CentroDeVacunacion' ? 'CentroDeVacunacion' : 'Deposito'+nivel)).addClass('d-none')
                                    $('#fechaLlegada'+(nivel=='CentroDeVacunacion' ? 'CentroDeVacunacion' : 'Deposito'+nivel)).addClass('d-none')
                                    validarFechaDeLlegadaDepositoNacional()
                                }
                            }
                        }
                    ]
                }
            }

            function tablaInterno(nivel, urlAjax){
                return {
                    ajax: {
                        url: urlAjax,
                        dataSrc: ""
                    },
                    select: {
                        style: 'multi',
                        items: 'row'
                    },
                    lengthChange: false,
                    pageLength: 15,
                    language: {
                        url: '/idiomaTabla.json'
                    },
                    order: [[0, 'desc']],
                    columns: [
                        {data: 'numeroDeSerie', title: 'Número de Serie'},
                        {data: ['Loteproveedor.numeroDeLote'], title: 'Número de Lote'},
                        {data: ['Loteproveedor.tipoDeVacuna'], title: 'Tipo de Vacuna'},
                        {data: ['Loteproveedor.nombreComercial'], title: 'Nombre Comercial'},
                        {data: ['Laboratorio.nombreLaboratorio'], title: 'Laboratorio Fabricante'},
                    ],
                    columnDefs: [
                        {className: 'dt-center', targets: [0, 1, 2, 3, 4]},
                    ],
                    dom: '<"top"Bf>rt<"bottom"lp><"clear">',
                    buttons: [
                        {
                            text: 'Seleccionar',
                            className: 'btn btn-primary',
                            attr: {
                                id:'Seleccionar',
                                'data-bs-toggle':'modal',
                                'data-bs-target':'#modal'+ (nivel=='CentroDeVacunacion' ? 'CentroDeVacunacion' : 'Deposito'+nivel),
                                'data-bs-dismiss':'modal'
                            },
                            action: function ( e, dt, node, config) {
                                var seleccionado = dt.rows({selected:true}).data();
                                if (seleccionado.length>0){
                                    let texto = ''
                                    numerosDeSerie = []
                                    for(let i=0;i<seleccionado.length;i++){
                                        if(i!=seleccionado.length-1){
                                            texto += seleccionado[i]['numeroDeSerie'] + ', '
                                        } else {
                                            texto += seleccionado[i]['numeroDeSerie']
                                        }
                                        numerosDeSerie.push(seleccionado[i]['numeroDeSerie'])
                                    }
                                    console.log('#loteInterno'+(nivel=='CentroDeVacunacion' ? 'CentroDeVacunacion' : 'Deposito'+nivel))
                                    $('#loteInterno'+(nivel=='CentroDeVacunacion' ? 'CentroDeVacunacion' : nivel)).val(texto);
                                    $('#form'+(nivel=='CentroDeVacunacion' ? 'CentroDeVacunacion' : 'Deposito'+nivel)).removeClass('d-none')
                                    //numeroDeSerieLote=seleccionado[0]['numeroDeSerie'];
                                    //$('#fechaDeAplicacion').attr('disabled', false)
                                }
                            }
                        }
                    ]
                }
            }

            function tablaDeposito(nivel, urlAjax){
                return {
                    ajax: {
                        url: urlAjax,
                        dataSrc: ""
                    },
                    select: {
                        style: 'single',
                        items: 'row'
                    },
                    lengthChange: false,
                    pageLength: 15,
                    language: {
                        url: '/idiomaTabla.json'
                    },
                    order: [[0, 'desc']],
                    columns: [
                        {data: 'id'+(nivel=='CentroDeVacunacion' ? 'CentroDeVacunacion' : 'Deposito'+nivel), title: 'ID'},
                        {data: 'direccion', title: 'Dirección'},
                        {data: 'provincia', title: 'Provincia'},
                    ],
                    columnDefs: [
                        {searchable: false, targets:[1, 2]},
                        {className: 'dt-center', targets: [0, 1, 2]},
                        { width: '10%', targets: [1] },
                        { width: '5%', targets: [0] },
                        { width: '10%', targets: [2] }
                    ],
                    dom: '<"top"Bf>rt<"bottom"lp><"clear">',
                    buttons: [
                        {
                            text: 'Seleccionar',
                            className: 'btn btn-primary',
                            attr: {
                                id:'Seleccionar',
                                'data-bs-toggle':'modal',
                                'data-bs-target':'#modal'+(nivel=='CentroDeVacunacion' ? 'CentroDeVacunacion' : 'Deposito'+nivel),
                                'data-bs-dismiss':'modal'
                            },
                            action: function ( e, dt, node, config) {
                                var seleccionado = dt.rows({selected:true}).data();
                                if (seleccionado.length>0){
                                    if(nivel=='Provincial'){
                                        $('#inputDepositoProvincial').val(seleccionado[0]['idDepositoProvincial'] );
                                        $('#fechaLlegadaDepositoProvincial').removeClass('d-none')
                                        $('#fechaSalidaDepositoNacional').removeClass('d-none')
                                        quitarError($(fechaDeSalidaDepositoNacional))
                                        quitarError($(fechaDeLlegadaDepositoProvincial))
                                        $('#confirmarDepositoProvincial').removeClass('d-none')
                                        //validarFechaDeSalidaDepositoNacional()
                                        //validarFechaDeLlegadaDepositoProvincial()
                                    } else if(nivel=='Nacional'){
                                        $('#inputDepositoNacional').val(seleccionado[0]['idDepositoNacional'] );
                                        $('#fechaLlegadaDepositoNacional').removeClass('d-none')
                                    } else {
                                        $('#inputCentroDeVacunacion').val(seleccionado[0]['idCentroDeVacunacion'] );
                                        $('#fechaSalidaDepositoProvincial').removeClass('d-none')
                                        $('#fechaLlegadaCentroDeVacunacion').removeClass('d-none')
                                    }
                                    //numeroDeSerieLote=seleccionado[0]['numeroDeSerie'];
                                    //$('#fechaDeAplicacion').attr('disabled', false)
                                }
                            }
                        }
                    ]
                }
            }

            function tablaCentro(nivel, urlAjax){
                return {
                    ajax: {
                        url: urlAjax,
                        dataSrc: ""
                    },
                    select: {
                        style: 'single',
                        items: 'row'
                    },
                    lengthChange: false,
                    pageLength: 15,
                    language: {
                        url: '/idiomaTabla.json'
                    },
                    order: [[0, 'desc']],
                    columns: [
                        {data: 'id'+(nivel=='CentroDeVacunacion' ? 'CentroDeVacunacion' : 'Deposito'+nivel), title: 'ID'},
                        {data: 'direccion', title: 'Dirección'},
                        {data: 'localidad', title: 'Localidad'},
                        {data: 'provincia', title: 'Provincia'}
                    ],
                    columnDefs: [
                        {className: 'dt-center', targets: [0, 1, 2, 3]},
                    ],
                    dom: '<"top"Bf>rt<"bottom"lp><"clear">',
                    buttons: [
                        {
                            text: 'Seleccionar',
                            className: 'btn btn-primary',
                            attr: {
                                id:'Seleccionar',
                                'data-bs-toggle':'modal',
                                'data-bs-target':'#modal'+(nivel=='CentroDeVacunacion' ? 'CentroDeVacunacion' : 'Deposito'+nivel),
                                'data-bs-dismiss':'modal'
                            },
                            action: function ( e, dt, node, config) {
                                var seleccionado = dt.rows({selected:true}).data();
                                if (seleccionado.length>0){
                                    if(nivel=='Provincial'){
                                        $('#inputDepositoProvincial').val(seleccionado[0]['idDepositoProvincial'] );
                                        $('#fechaLlegadaDepositoProvincial').removeClass('d-none')
                                        $('#fechaSalidaDepositoNacional').removeClass('d-none')
                                        quitarError($(fechaDeSalidaDepositoNacional))
                                        quitarError($(fechaDeLlegadaDepositoProvincial))
                                        $('#confirmarDepositoProvincial').removeClass('d-none')
                                        //validarFechaDeSalidaDepositoNacional()
                                        //validarFechaDeLlegadaDepositoProvincial()
                                    } else if(nivel=='Nacional'){
                                        $('#inputDepositoNacional').val(seleccionado[0]['idDepositoNacional'] );
                                        $('#fechaLlegadaDepositoNacional').removeClass('d-none')
                                    } else {
                                        $('#inputCentroDeVacunacion').val(seleccionado[0]['idCentroDeVacunacion'] );
                                        $('#fechaSalidaDepositoProvincial').removeClass('d-none')
                                        quitarError($('#fechaDeSalidaDepositoProvincial'))
                                        quitarError($('#fechaDeLlegadaCentroDeVacunacion'))
                                        $('#fechaLlegadaCentroDeVacunacion').removeClass('d-none')
                                        $('#confirmarCentroDeVacunacion').removeClass('d-none')
                                    }
                                    //numeroDeSerieLote=seleccionado[0]['numeroDeSerie'];
                                    //$('#fechaDeAplicacion').attr('disabled', false)
                                }
                            }
                        }
                    ]
                }
            }

            $(loteProveedorNacionalSeleccionar).click(function(){
                tablaLoteP.destroy();
                tablaLoteP = $('#tablaLoteProveedor').DataTable(tablaProveedor(ultimoBotonClickeado))
            })

            $(loteProveedorProvincialSeleccionar).click(function(){
                tablaLoteP.destroy();
                tablaLoteP = $('#tablaLoteProveedor').DataTable(tablaProveedor(ultimoBotonClickeado))
            })

            $(loteProveedorCentroDeVacunacionSeleccionar).click(function(){
                tablaLoteP.destroy();
                tablaLoteP = $('#tablaLoteProveedor').DataTable(tablaProveedor(ultimoBotonClickeado))
            })

            $(loteInternoNacionalSeleccionar).click(function(){
                tablaLoteI.destroy();
                tablaLoteI= $('#tablaLoteInterno').DataTable(tablaInterno(ultimoBotonClickeado, '/lotesinternos/sinDNJSON/' + $(loteProveedorNacional).val()))
            })

            $(loteInternoCentroDeVacunacionSeleccionar).click(function(){
                tablaLoteI.destroy();
                tablaLoteI= $('#tablaLoteInterno').DataTable(tablaInterno(ultimoBotonClickeado, '/lotesinternos/sinCDVJSON/' + $(loteProveedorCentroDeVacunacion).val()))
            })

            $(loteInternoProvincialSeleccionar).click(function(){
                tablaLoteI.destroy();
                tablaLoteI= $('#tablaLoteInterno').DataTable(tablaInterno(ultimoBotonClickeado, '/lotesinternos/sinDPJSON/' + $(loteProveedorProvincial).val()))
            })

            $(depositoNacionalSeleccionar).click(function(){
                tablaD.destroy();
                tablaD= $('#tablaDeposito').DataTable(tablaDeposito(ultimoBotonClickeado, '/depositosnacionales/depnacjson'))
            })

            $(depositoProvincialSeleccionar).click(function(){
                tablaD.destroy();
                tablaD= $('#tablaDeposito').DataTable(tablaDeposito(ultimoBotonClickeado,'/depositosprovinciales/depprojson'))
            })

            $(CentroDeVacunacionSeleccionar).click(function(){
                tablaC.destroy();
                tablaC= $('#tablaCentrosDeVacunacion').DataTable(tablaCentro(ultimoBotonClickeado, '/centrosdevacunacion/centrosJSON'))
            })

            function validarFechaDeLlegadaDepositoNacional(){
                quitarError($(fechaDeLlegadaDepositoNacional))
                if($(fechaDeLlegadaDepositoNacional).val() != ''){
                    const fechaIngresada = new Date($(fechaDeLlegadaDepositoNacional).val())
                    const fechaActual = new Date()
                    fechaIngresada.setHours(24, 0, 0, 0)
                    fechaActual.setHours(0, 0, 0, 0)
                    if (comprobarFechaValida(fechaIngresada, fechaActual)) {
                        mostrarError($(fechaDeLlegadaDepositoNacional), 'Superior')
                    } else {
                        const fechaDeCompra = new Date(fechaCompra)
                        if (fechaIngresada < fechaDeCompra) {
                            mostrarError($(fechaDeLlegadaDepositoNacional), 'Anterior')
                        }
                    }
                } else {
                    mostrarError($(fechaDeLlegadaDepositoNacional), 'Vacio')
                }
            }

            function validarFechaDeSalidaDepositoNacional(){
                quitarError($('#fechaDeSalidaDepositoNacional'))
                if($(fechaDeSalidaDepositoNacional).val() != ''){
                    const fechaIngresada = new Date($(fechaDeSalidaDepositoNacional).val())
                    const fechaActual = new Date()
                    fechaIngresada.setHours(24, 0, 0, 0)
                    fechaActual.setHours(0, 0, 0, 0)
                    if (comprobarFechaValida(fechaIngresada, fechaActual)) {
                        mostrarError($(fechaDeSalidaDepositoNacional), 'Superior')
                    } else {
                        const fechaAnterior = new Date($(fechaDeLlegadaDepositoNacional).val())
                        fechaAnterior.setHours(24, 0, 0, 0)
                        if (!comprobarFechaValida(fechaIngresada, fechaAnterior)) {
                            mostrarError($(fechaDeSalidaDepositoNacional), 'Anterior')
                        }
                    }
                } else {
                    mostrarError($(fechaDeSalidaDepositoNacional), 'Vacio')
                }
            }

            function validarFechaDeLlegadaDepositoProvincial(){
                quitarError($(fechaDeLlegadaDepositoProvincial))
                if($(fechaDeLlegadaDepositoProvincial).val() != ''){
                    const fechaIngresada = new Date($(fechaDeLlegadaDepositoProvincial).val())
                    const fechaActual = new Date()
                    fechaIngresada.setHours(24, 0, 0, 0)
                    fechaActual.setHours(0, 0, 0, 0)
                    if (comprobarFechaValida(fechaIngresada, fechaActual)) {
                        mostrarError($(fechaDeLlegadaDepositoProvincial), 'Superior')
                    } else {
                        const fechaAnterior = new Date($(fechaDeSalidaDepositoNacional).val())
                        fechaAnterior.setHours(24, 0, 0, 0)
                        if (!comprobarFechaValida(fechaIngresada, fechaAnterior)) {
                            mostrarError($(fechaDeLlegadaDepositoProvincial), 'Anterior')
                        }
                    }
                } else {
                    mostrarError($(fechaDeLlegadaDepositoProvincial), 'Vacio')
                }
            }

            function comprobarFechaValida(fechaIngresada, fechaActual) {
                return ((fechaIngresada - fechaActual) / (1000 * 60 * 60 * 24)) > 0
            }

            $(fechaDeLlegadaDepositoNacional).on('keyup focusout', function () {
                validarFechaDeLlegadaDepositoNacional()
                if($(this).hasClass('is-valid')){
                    $(confirmarDepositoNacional).removeClass('d-none');
                } else {
                    $(confirmarDepositoNacional).addClass('d-none');
                }
            })

            function validarFormulario() {
                let camposInvalidos = false
                if ($(fechaDeLlegadaDepositoNacional).hasClass('is-invalid')) {
                    camposInvalidos = true
                }
                if (camposInvalidos) {
                    mostrarAlerta("¡Datos incorrectos! Por favor, verifica la información ingresada.")
                    return false
                }
                return true
            }

            $('#confirmarDepositoNacional').click(function (event) {
                let datos = {
                    idDepositoNacional: $(inputDepositoNacional).val(),
                    fechaDeLlegadaDepositoNacional: $(fechaDeLlegadaDepositoNacional).val(),
                    numerosDeSerie: numerosDeSerie
                    }
                $.ajax({
                    url: '/lotesinternos/actualizarDN',
                    method: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(datos),
                    success: function (response) {
                        mostrarAlerta("Lotes internos actualizados con exito.")
                        $('#loteProveedorNacional').val('');
                        $('#formLoteInternoNacional').addClass('d-none')
                        $('#loteInternoNacional').val('')
                        $('#inputDepositoNacional').val('')
                        $('#fechaDeLlegadaDepositoNacional').val('')
                        $('#formDepositoNacional').addClass('d-none')
                        $('#fechaLlegadaDepositoNacional').addClass('d-none')
                        validarFechaDeLlegadaDepositoNacional()
                    },
                    error: function (error) {
                        alert(error)
                    }
                })
            })

            $('#confirmarDepositoProvincial').click(function (event) {
                let datos = {
                    idDepositoProvincial: $(inputDepositoProvincial).val(),
                    fechaDeLlegadaDepositoProvincial: $(fechaDeLlegadaDepositoProvincial).val(),
                    fechaDeSalidaDepositoNacional: $(fechaDeSalidaDepositoNacional).val(),
                    numerosDeSerie: numerosDeSerie
                    }
                $.ajax({
                    url: '/lotesinternos/actualizarDP',
                    method: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(datos),
                    success: function (response) {
                        mostrarAlerta("Lotes internos actualizados con exito.")
                        $('#loteProveedorProvincial').val('');
                        $('#formLoteInternoProvincial').addClass('d-none')
                        $('#loteInternoProvincial').val('')
                        $('#inputDepositoProvincial').val('')
                        $('#fechaDeLlegadaDepositoProvincial').val('')
                        $('#fechaLlegadaDepositoProvincial').addClass('d-none')
                        $('#fechaDeSalidaDepositoNacional').val('')
                        $('#fechaSalidaDepositoNacional').addClass('d-none')
                        $('#formDepositoProvincial').addClass('d-none')
                        //validarFechaDeLlegadaDepositoProvincial()
                    },
                    error: function (error) {
                        alert(error)
                    }
                })
            })

            $('#confirmarCentroDeVacunacion').click(function (event) {
                let datos = {
                    idCentroDeVacunacion: $(inputCentroDeVacunacion).val(),
                    fechaDeLlegadaCentroDeVacunacion: $(fechaDeLlegadaCentroDeVacunacion).val(),
                    fechaDeSalidaDepositoProvincial: $(fechaDeSalidaDepositoProvincial).val(),
                    numerosDeSerie: numerosDeSerie
                    }
                $.ajax({
                    url: '/lotesinternos/actualizarCDV',
                    method: 'PUT',
                    contentType: 'application/json',
                    data: JSON.stringify(datos),
                    success: function (response) {
                        mostrarAlerta("Lotes internos actualizados con exito.")
                        $('#loteProveedorCentroDeVacunacion').val('');
                        $('#formLoteInternoCentroDeVacunacion').addClass('d-none')
                        $('#loteInternoCentroDeVacunacion').val('')
                        $('#inputCentroDeVacunacion').val('')
                        $('#fechaDeLlegadaCentroDeVacunacion').val('')
                        $('#fechaLlegadaCentroDeVacunacion').addClass('d-none')
                        $('#fechaDeSalidaDepositoProvincial').val('')
                        $('#fechaSalidaDepositoProvincial').addClass('d-none')
                        $('#formCentroDeVacunacion').addClass('d-none')
                        $('#confirmarCentroDeVacunacion').addClass('d-none')

                        //validarFechaDeLlegadaDepositoCentroDeVacunacion()
                    },
                    error: function (error) {
                        alert(error)
                    }
                })
            })
        })