mixin modalesAgente()
    div.modal#alertModal(tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    h5.modal-title#alertModalLabel Alerta
                    button.close(type="button" data-bs-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") ×
                div.modal-body.text-center
                    p#mensajeAlerta.text-center
                    button#btnAceptar.btn.btn-primary Aceptar
    .modal.fade(id='ModalDataTablePersona' tabindex='-1' aria-labelledby='ModalDataTablePersonaLabel' aria-hidden='true')
        .modal-dialog(style="max-width: 1000px;")
            .modal-content
                .modal-header
                    h5.modal-title#ModalDataTableLabel Pacientes
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    div.table.responsive
                        table#personas.table.table-striped.table-bordered
    .modal.fade(id='ModalDataTableAgente' tabindex='-1' aria-labelledby='ModalDataTableAgenteLabel' aria-hidden='true')
        .modal-dialog(style="max-width: 1000px;")
            .modal-content
                .modal-header
                    h5.modal-title#ModalDataTableLabel Agentes de salud
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    div.table.responsive
                        table#agentes.table.table-striped.table-bordered
    .modal.fade(id='ModalDataTableLote' tabindex='-1' aria-labelledby='ModalDataTableLoteLabel' aria-hidden='true')
        .modal-dialog(style="max-width: 1000px;")
            .modal-content
                .modal-header
                    h5.modal-title#ModalDataTableLabel Lotes de vacunas
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    div.table.responsive
                        table#lotes.table.table-striped.table-bordered
    .container.mt-5
        .row.justify-content-center
            .col-md-6
                .card.card-button.mb-3(data-bs-toggle='modal' data-bs-target='#mainModal')
                    .card-body.text-center
                        h5.card-title Accede a la gestión de aplicaciones
                    .card-footer.text-center
                        button.btn.btn-warning(type='button' data-bs-toggle='modal' data-bs-target='#mainModal') Registrar aplicación
    .modal.fade(id='mainModal' tabindex='-1' aria-labelledby='mainModalLabel' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title#mainModalLabel Detalles persona
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body
                    .form-group
                        label.text-center Nombre y Apellido:
                        input.form-control#nombrePersona(type='text' placeholder='Seleccione un paciente de la lista o ingrese sus datos' disabled)
                    br
                    .form-group
                        label.text-center Numero de Documento:
                        input.form-control#dniPersona(type='text' disabled)
                    br
                    .form-group.text-center
                        button.btn.btn-primary#buscarPersonaBtn(type='button' data-bs-toggle='modal' data-bs-target='#ModalDataTablePersona' data-bs-dismiss='modal') Buscar Paciente
                        | &nbsp;&nbsp;&nbsp;&nbsp;
                        button.btn.btn-success#altaPersona(type='button') Alta
                    br
                    .form-group.text-center
                        button.btn.d-none.btn-primary#siguiente(type='button' data-bs-toggle='modal' data-bs-target='#mainModal2' data-bs-dismiss='modal') Siguiente
    .modal.fade(id='mainModal2' tabindex='-1' aria-labelledby='mainModal2Label' aria-hidden='true')
        .modal-dialog
            .modal-content
                .modal-header
                    h5.modal-title#mainModal2Label Aplicación de la vacuna
                    button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
                .modal-body#form
                    .form-group
                        label.text-center Agente de Salud que aplicó la vacuna:
                        .input-group
                            input.form-control#DNIAgente(type='text' disabled)
                            button.btn.btn-primary#buscarAgenteBtn(type='button' data-bs-toggle='modal' data-bs-target='#ModalDataTableAgente' data-bs-dismiss='modal')
                                i.fa-solid.fa-magnifying-glass
                    br
                    .form-group
                        label.text-center Lote de vacunas que se aplicó al Paciente:
                        .input-group
                            input.form-control#numeroDeSerie(type='text' disabled)
                            button.btn.btn-primary#buscarLoteBtn(type='button' data-bs-toggle='modal' data-bs-target='#ModalDataTableLote' data-bs-dismiss='modal')
                                i.fa-solid.fa-magnifying-glass
                    br
                    .form-group
                        label.form-label Fecha en la que se aplicó la vacuna
                        .input-group.has-validation
                            input.form-control.is-invalid#fechaDeAplicacion(type="date" name="fechaDeAplicacion" disabled required)
                            .invalid-feedback#fechaDeAplicacionVacio El campo no puede estar vacío
                            .invalid-feedback.d-none#fechaDeAplicacionSuperior La fecha de aplicación es superior a la actual
                            .invalid-feedback.d-none#fechaDeAplicacionLlegadaACentro La fecha de aplicación no puede ser anterior a la llegada al centro de vacunación
                            .d-none#fechaDeAplicacionVencida ADVERTENCIA: El lote seleccionado se encuentra vencido. Puede continuar, pero se recomienda precaución
                    br
                    .form-group.text-center
                        button.btn.btn-success#registrarAplicacion(type='button' data-bs-toggle='modal' data-bs-dismiss='modal') Registrar Aplicacion
    .alert.alert-success#flash(style='display:none')

    script.
        let tablaPaciente;
        let tablaAgente;
        let tablaLote;

        let dniPaciente;
        let numeroDeSerieLote;
        let dniAgente;

        let modales = document.querySelectorAll('.modal');
        $(document).ready(function() {
            modales.forEach(x => $(x).modal({backdrop: 'static', keyboard: false}))
            tablaPaciente = $(personas).DataTable({
                ajax: {
                    url:'/personas/personasJSON',
                    dataSrc: ""
                },
                select: {
                    style: 'single',
                    items: 'row'
                },
                lengthChange: false,
                pageLength: 8,
                language: {
                    url: '/idiomaTabla.json'
                },
                columns: [
                    {data: 'DNI', title:'DNI'},
                    {data: 'nombre', title: 'Nombre'},
                    {data: 'apellido', title: 'Apellido'}
                ],
                columnDefs: [
                    {className: "dt-center", targets: [0, 1, 2]}
                ],
                dom: '<"top"Bf>rt<"bottom"lp><"clear">',
                buttons: [
                    {
                        text: 'Seleccionar',
                        className: 'btn btn-primary',
                        attr: {
                            id:'Seleccionar',
                            'data-bs-toggle':'modal',
                            'data-bs-target':'#mainModal',
                            'data-bs-dismiss':'modal'
                        },
                        action: function ( e, dt, node, config) {
                            var seleccionado = dt.rows({selected:true}).data();
                            if (seleccionado.length>0){
                                $('#nombrePersona').val(seleccionado[0]['nombre'] +' ' +seleccionado[0]['apellido'] )
                                $('#dniPersona').val(seleccionado[0]['DNI']);
                                dniPaciente=seleccionado[0]['DNI'];
                                $(siguiente).removeClass('d-none');
                            }
                        }
                    }
                ]
            })

            tablaAgente = $(agentes).DataTable({
                ajax: {
                    url:'/personas/agentesJSON',
                    dataSrc: ""
                },
                select: {
                    style: 'single',
                    items: 'row'
                },
                lengthChange: false,
                pageLength: 8,
                language: {
                    url: '/idiomaTabla.json'
                },
                columns: [
                    {data: 'DNI', title:'DNI'},
                    {data: 'nombre', title: 'Nombre'},
                    {data: 'apellido', title: 'Apellido'},
                    {data: 'Agentedesalud.matricula', title: 'Matrícula'}
                ],
                columnDefs: [
                    {className: "dt-center", targets: [0, 1, 2]}
                ],
                dom: '<"top"Bf>rt<"bottom"lp><"clear">',
                buttons: [
                    {
                        text: 'Seleccionar',
                        className: 'btn btn-primary',
                        attr: {
                            id:'Seleccionar',
                            'data-bs-toggle':'modal',
                            'data-bs-target':'#mainModal2',
                            'data-bs-dismiss':'modal'
                        },
                        action: function ( e, dt, node, config) {
                            var seleccionado = dt.rows({selected:true}).data();
                            if (seleccionado.length>0){
                                $('#DNIAgente').val(seleccionado[0]['DNI']);
                                dniAgente=seleccionado[0]['DNI'];
                            }
                        }
                    }
                ]
            })

            tablaLote = $(lotes).DataTable({
                ajax: {
                    url:'/lotesinternos/lotesinternosJSON',
                    dataSrc: ""
                },
                select: {
                    style: 'single',
                    items: 'row'
                },
                lengthChange: false,
                pageLength: 15,
                language: {
                    url: '/idiomaTabla.json'
                },
                order: [[0, 'desc']],
                columns: [
                    {data: 'numeroDeSerie', title: 'Número de Serie'},
                    {data: 'Loteproveedor.numeroDeLote', title: 'Número de Lote'},
                    {data: 'Loteproveedor.tipoDeVacuna', title: 'Tipo de Vacuna'},
                    {data: 'Loteproveedor.nombreComercial', title: 'Nombre Comercial'},
                    {data: 'Laboratorio.nombreLaboratorio', title: 'Laboratorio Fabricante'},
                ],
                columnDefs: [
                    {searchable: false, targets:[1, 2]},
                    {className: 'dt-center', targets: [0, 1, 2]},
                    { width: '10%', targets: [1] },
                    { width: '5%', targets: [0] },
                    { width: '10%', targets: [2] }
                ],
                dom: '<"top"Bf>rt<"bottom"lp><"clear">',
                buttons: [
                    {
                        text: 'Seleccionar',
                        className: 'btn btn-primary',
                        attr: {
                            id:'Seleccionar',
                            'data-bs-toggle':'modal',
                            'data-bs-target':'#mainModal2',
                            'data-bs-dismiss':'modal'
                        },
                        action: function ( e, dt, node, config) {
                            var seleccionado = dt.rows({selected:true}).data();
                            if (seleccionado.length>0){
                                $('#numeroDeSerie').val(seleccionado[0]['numeroDeSerie'] );
                                numeroDeSerieLote=seleccionado[0]['numeroDeSerie'];
                                $('#fechaDeAplicacion').attr('disabled', false)
                            }
                        }
                    }
                ]
            })

            $('#altaPersona').on('click', function(event){
                var win = window.open('http://localhost:3000/personas/alta?boton=true','_blank', 'popup=true')
                $(win).on('load', function(){
                    win.resizeTo(600,900)
                    win.moveTo(600,200)
                })
            })

            function validarFormulario() {
                const inputs = $('#form input')

                let camposInvalidos = false

                console.log(inputs)
                inputs.each(function () {
                    if ($(this).hasClass('is-invalid') || $(this).val().length == 0) {
                        camposInvalidos = true
                    }
                })
                if (camposInvalidos) {
                    mostrarAlerta("¡Datos incorrectos! Por favor, verifica la información ingresada.")
                    return false
                }
                return true
            }

            $('#registrarAplicacion').on('click', function(event){
                if(validarFormulario()){
                    var aplicacion={
                        DNIPaciente: dniPaciente,
                        DNIAgente: dniAgente,
                        numeroDeSerie: numeroDeSerieLote,
                        fechaDeAplicacion: $(fechaDeAplicacion).val(),
                    }
                    $.ajax({
                        url: '/aplicaciones/createJSON',
                        type: 'POST',
                        contentType: 'application/json',
                        data: JSON.stringify(aplicacion),
                        success: function(response){
                            if (response.reload){
                                tablaLote.ajax.reload()
                            }
                            /*if(response.flash){
                                $('#flash').text(response.flash).show()
                                setTimeout(function() {
                                    $('#flash').fadeOut('slow');
                                }, 3000);
                            }*/
                            $(nombrePersona).val('')
                            $(dniPersona).val('')
                            $(DNIAgente).val('')
                            $(numeroDeSerie).val('')
                            $(fechaDeAplicacion).val('')
                            $(siguiente).addClass('d-none')
                            mostrarError($(fechaDeAplicacion), 'Vacio')
                            mostrarAlerta('Aplicacion registrada correctamente.')
                        },
                        error: function(response){

                        }
                    })
                }
            })

            function mostrarError(campo, error) {
                campo.addClass('is-invalid').removeClass('is-valid')
                $(`#${campo.attr('id')}${error}`).removeClass('d-none')
            }

            function quitarError(campo) {
                campo.addClass('is-valid').removeClass('is-invalid')
                $(`div[id^=${campo.attr('id')}].invalid-feedback`).addClass('d-none')
                $(`div[id^=${campo.attr('id')}]`).addClass('d-none')
            }

            async function validarFechaDeAplicacion() {
                try{
                    quitarError($(fechaDeAplicacion))
                    if (!$(fechaDeAplicacion).val()) {
                        mostrarError($(fechaDeAplicacion), 'Vacio')
                    } else {
                        const fechaIngresada = new Date($(fechaDeAplicacion).val())
                        const fechaActual = new Date()
                        fechaIngresada.setHours(24, 0, 0, 0)
                        fechaActual.setHours(0, 0, 0, 0)
                        let loteInterno; 
                        await $.ajax({
                            url: '/lotesinternos/lotesinternosJSON',
                            type: 'GET',
                            contentType: 'application/json',
                            success: function(response){
                                loteInterno = response.find(lote => lote.numeroDeSerie == numeroDeSerieLote)
                            },
                            error: function(response){

                            }
                        })

                        const fechaVencimiento = new Date(loteInterno.Loteproveedor.fechaDeVencimiento)
                        if(loteInterno.fechaDeLlegadaCentroDeVacunacion != null){
                            const fechaDeLlegadaACentro = new Date(loteInterno.fechaDeLlegadaCentroDeVacunacion)
                            if(fechaIngresada < fechaDeLlegadaACentro){
                                mostrarError($(fechaDeAplicacion), 'LlegadaACentro')
                            } else if (fechaIngresada > fechaActual) {
                                mostrarError($(fechaDeAplicacion), 'Superior')
                            } else if (fechaIngresada > fechaVencimiento) {
                                mostrarError($(fechaDeAplicacion), 'Vencida')
                                $(fechaDeAplicacion).addClass('is-valid').removeClass('is-invalid')
                            }
                        } else {
                            mostrarError($(fechaDeAplicacion), 'LlegadaACentro')
                        }
                    }
                } catch(error){
                    console.log(error)
                }
            }

            function mostrarAlerta(mensaje) {
                $(mensajeAlerta).text(mensaje)
                $(alertModal).modal('show')
            }

            $(btnAceptar).on('click', function(){
                $(alertModal).modal('hide')
            })

            $(fechaDeAplicacion).on('keyup focusout', function(){
                validarFechaDeAplicacion()
            })

            $(window).on('message onmessage', function(e){
                if(e.originalEvent.data['origen']==='formPersona'){
                    $('#nombrePersona').val(e.originalEvent.data['datos']['nombre'] + ' ' + e.originalEvent.data['datos']['apellido'])
                    $('#dniPersona').val(e.originalEvent.data['datos']['dni'])
                    dniPaciente=e.originalEvent.data['datos']['dni'];
                    $(siguiente).removeClass('d-none')
                }
            })
        })