head
    title Traslado
section#formTraslado
h2 Actualice el Traslado
form(action="/traslados/"+traslado.idTraslado+"?_method=PUT" method="post")
    label(for="num-serie") Nº de Serie Lote Interno:
      select#numeroDeSerieSelect(name="numeroDeSerie")
            each numSerie in lotesInternos
                if traslado.numeroDeSerie==numSerie.numeroDeSerie
                    option(value=numSerie.numeroDeSerie)=numSerie.numeroDeSerie
            each numSerie in lotesInternos
                if traslado.numeroDeSerie==numSerie.numeroDeSerie
                    break
                else
                    option(value=numSerie.numeroDeSerie)=numSerie.numeroDeSerie
    br
    br
    label(for="id-ctrovac") Centro de Vacunacion:
        select#idCentroDeVacunacion(name="idCentroDeVacunacion")
            each cvac in centrosDeVacunacion
                if traslado.idCentroDeVacunacion==cvac.idCentroDeVacunacion && traslado.idCentroDeVacunacion != null
                    option(cvac.idCentroDeVacunacion)= cvac.idCentroDeVacunacion
                    option(value="") Ningún Centro de Vacunación
            if traslado.idCentroDeVacunacion != null
                each cvac in centrosDeVacunacion
                    if traslado.idCentroDeVacunacion==cvac.idCentroDeVacunacion
                        break
                    else
                        option(value=cvac.idCentroDeVacunacion)= cvac.idCentroDeVacunacion
            else
                option(value="") Selecciona un Centro de Vacunación
                    each cvac in centrosDeVacunacion
                        option(value=cvac.idCentroDeVacunacion)= cvac.idCentroDeVacunacion
    br
    br
    label(for="fecha-sal-trasl") Fecha Salida de Traslado:
        if traslado.fechaDeSalida != null
            input(type="date" id="fecha-sal-trasl" name="fechaDeSalida" class="fecha-salida" value=traslado.fechaDeSalida required)
        else
            input(type="date" id="fecha-sal-trasl" name="fechaDeSalida" class="fecha-salida" required)
    br
    br
    label(for="fecha-lleg-trasl") Fecha Llegada de Traslado:
        if traslado.fechaDeLlegada != null
            input(type="date" id="fecha-lleg-trasl" name="fechaDeLlegada" class="fecha-llegada" value=traslado.fechaDeLlegada required)
        else
            input(type="date" id="fecha-lleg-trasl" name="fechaDeLlegada" class="fecha-llegada" required)
   
    br
    br
    button(type="submit") Actualizar