- var title = 'Actualizar Traslado'
include ..\includes\layout
block content
html(lang="es")
body
    if traslado
        h2.text-center.text Actualice los datos del traslado
        br
        form#form(action="/traslados/"+traslado.idTraslado+"?_method=PUT" method="post")
            .form-group
                label.form-label(for="idTraslado") ID Traslado:
                input.form-control.readonly-input(type="text" id="idTraslado" name="idTraslado" value=traslado.idTraslado readonly disabled)
            br
            .form-group
                label.form-label(for="numeroDeSerie") Nº de Serie Lote Interno:
                input.form-control(type="text" value=traslado.numeroDeSerie readonly)
            br
            .form-group
                label.form-label(for="idCentroDeVacunacion") Centro de Vacunacion:
                select.form-select#idCentroDeVacunacion(name="idCentroDeVacunacion")
                    option(value=traslado.idCentroDeVacunacion readonly selected)= traslado.idCentroDeVacunacion
            br
            .form-group
                label.form-label(for="fechaDeSalida") Fecha Salida de Traslado:
                    input.form-control(type="date" id="fechaDeSalida" readonly name="fechaDeSalida" value=traslado.fechaDeSalida)
            br
            .form-group
                label.form-label(for="fecha-lleg-trasl") Fecha Llegada de Traslado en Destino:
                    if traslado.fechaDeLlegada != null
                        input.form-control(type="date" id="fecha-lleg-trasl" name="fechaDeLlegada" class="fecha-llegada" value=traslado.fechaDeLlegada)
                    else
                        input.form-control(type="date" id="fecha-lleg-trasl" name="fechaDeLlegada" class="fecha-llegada")
            br
            div.text-center
                button(type="submit" class="btn btn-primary") Actualizar
                | &nbsp;&nbsp;&nbsp;&nbsp;
                button(type="button" class="btn btn-primary" onclick="window.history.back()") Volver
    else
        h2.text-center.text No se encontró el traslado
        div.text-center
            a.btn.btn-primary(href="/traslados") Volver al listado de traslados
