head
    title Traslado
section#viewTraslado
h2 Listado de Traslados
    table
        thead
            tr
                th ID Traslado
                th Nº de Serie Lote Interno
                th ID Centro de Vacunacion
                th Fecha Salida de Traslado
                th Fecha Llegada de Traslado
        tbody
            each traslado in traslados
                tr
                    td= traslado.idTraslado
                    td= traslado.numeroDeSerie
                    td= traslado.idCentroDeVacunacion
                    td= traslado.fechaDeSalida
                    td= traslado.fechaDeLlegada
                    td 
                        button(onclick=`redirectToURL(${traslado.idTraslado})`) Editar
                        form(method="post" action="/traslados/"+traslado.idTraslado+"?_method=DELETE" style="display: inline")
                            button(type="submit") Eliminar

    button(onclick="crear()") Crear 
    button(type="submit") Volver
script.
    function redirectToURL(id){
        window.location.href= "/traslados/" + id
    }
    function crear(){
        window.location.href= "/traslados/crear"
    }