head
    title Aplicacion Vacunas
section#formAplicacion
h2 Editar Aplicación de Vacunas
form(action="/aplicaciones/"+aplicacion.idAplicacion+"?_method=PUT" method="post")
        label(for="DNIPaciente") Seleccione un Paciente:
        select(name="DNIPaciente" id="DNIPaciente" onchange=`agenteS(${JSON.stringify(agentes)}, ${JSON.stringify(personas)})` required)
            each persona in personas
                if(persona.DNI === aplicacion.DNIPaciente)
                    option(value=persona.DNI selected) #{persona.nombre} #{persona.apellido}
                else
                    option(value=persona.DNI) #{persona.nombre} #{persona.apellido}
        br
        br

        label(for="DNIAgente") Seleccione un Agente de Salud:
        select(name="DNIAgente" id="DNIAgente" class="DNIAgente" required)
            each persona in personas
                if(persona.DNI === aplicacion.DNIAgente)
                    option(value=aplicacion.DNIAgente) #{persona.nombre} #{persona.apellido}
        br
        br
        
        label(for="numeroDeSerie") Seleccione el Lote de Vacunas que se Aplicara al Paciente:
            select(name="numeroDeSerie" id="numeroDeSerie" required)
                each lote in lotes
                    if(lote.numeroDeSerie === aplicacion.numeroDeSerie)
                        option(value=lote.numeroDeSerie selected) #{lote.numeroDeSerie}
                    else
                        option(value=lote.numeroDeSerie) #{lote.numeroDeSerie}
        br
        br
        
        label(for="fechaDeAplicacion") Fecha de Aplicación:
        input(type="date" name="fechaDeAplicacion" id="fechaDeAplicacion" value=aplicacion.fechaDeAplicacion required)
        br
        br

        button(type="submit") Actualizar

script.
    function agenteS(agentes, pacientes) {
        let paciente = null
        let pacienteSelect = document.getElementById("DNIPaciente").value;
        let agenteSelect = document.getElementById("DNIAgente");
        agenteSelect.innerHTML = "";  // Limpiar el contenido actual
        for (let i = 0; i < agentes.length; i++) {
            if (agentes[i].DNI != pacienteSelect) {
                paciente = pacientes.filter(paciente => paciente.DNI===agentes[i].DNI);
                agenteSelect.innerHTML += `<option value=${paciente[0].DNI}>${paciente[0].nombre} ${paciente[0].apellido}</option>`;
            }
        }
    }