- var title ='Actualizar Aplicacion de Vacunas'
include ..\includes\layout
block content
html(lang="es")
    head
        style.
            #formAplicacion {
                max-width: 600px;
                margin: auto;
            }
            h2 {
                text-align: center;
                text-decoration: underline;
                text-underline-offset: 4px;
                margin-top: 10px;
            }
            label {
                margin-bottom: 5px;
            }
            .readonly-input {
                color: gray;
                background-color: #f0f0f0;
            }
    body
        #formAplicacion
            h2.text-center Actualice la Aplicación de Vacunas
            br
            form(action="/aplicaciones/"+aplicacion.idAplicacion+"?_method=PUT" method="post")
                .form-group
                    label.form-label(for="idAplicacion") ID Aplicación:
                    input.form-control.readonly-input(type="text" id="idAplicacion" name="idAplicacion" value=aplicacion.idAplicacion readonly disabled)
                br
                .form-group
                    label.form-label(for="DNIPaciente") Seleccione un Paciente:
                    select.form-control(name="DNIPaciente" id="DNIPaciente" onchange=`agenteS(${JSON.stringify(agentes)}, ${JSON.stringify(personas)})` required)
                        each persona in personas
                            if(persona.DNI === aplicacion.DNIPaciente)
                                option(value=persona.DNI selected) #{persona.nombre} #{persona.apellido}
                            else
                                option(value=persona.DNI) #{persona.nombre} #{persona.apellido}
                br
                .form-group
                    label.form-label(for="DNIAgente") Seleccione un Agente de Salud:
                    select.form-control(name="DNIAgente" id="DNIAgente" class="DNIAgente" required)
                        each persona in personas
                            if(persona.DNI === aplicacion.DNIAgente)
                                option(value=aplicacion.DNIAgente) #{persona.nombre} #{persona.apellido}
                br
                .form-group
                    label.form-label(for="numeroDeSerie") Seleccione el Lote de Vacunas que se Aplicara al Paciente:
                    select.form-control(name="numeroDeSerie" id="numeroDeSerie" required)
                        each lote in lotes
                            if(lote.numeroDeSerie === aplicacion.numeroDeSerie)
                                option(value=lote.numeroDeSerie selected) #{lote.numeroDeSerie}
                            else
                                option(value=lote.numeroDeSerie) #{lote.numeroDeSerie}
                br
                .form-group
                    label.form-label(for="fechaDeAplicacion") Fecha de Aplicación:
                    input.form-control(type="date" name="fechaDeAplicacion" id="fechaDeAplicacion" value=aplicacion.fechaDeAplicacion required)
                br
                button(type="submit" class="btn btn-primary") Actualizar
                | &nbsp;&nbsp;&nbsp;&nbsp;
                button(type="button" class="btn btn-primary" onclick="window.history.back()") Volver

script.
    function agenteS(agentes, pacientes) {
        let paciente = null
        let pacienteSelect = document.getElementById("DNIPaciente").value;
        let agenteSelect = document.getElementById("DNIAgente");
        agenteSelect.innerHTML = "";  // Limpiar el contenido actual
        for (let i = 0; i < agentes.length; i++) {
            if (agentes[i].DNI != pacienteSelect) {
                paciente = pacientes.filter(paciente => paciente.DNI===agentes[i].DNI);
                agenteSelect.innerHTML += `<option value=${paciente[0].DNI}>${paciente[0].nombre} ${paciente[0].apellido}</option>`;
            }
        }
    }