- var title ='Crear la aplicación de una vacuna'
include ..\includes\layout
block content
html(lang="es")
head
    style.
        #formAplicacion {
            max-width: 600px;
            margin: auto;
        }
body
    h2.text-center Ingresar los datos de la aplicación de la vacuna
    if messages.error
        .alert.alert-danger
            = messages.error
    div.modal#alertModal(tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    h5.modal-title#alertModalLabel Alerta
                    button.close(type="button" data-bs-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") ×
                div.modal-body
                    p#mensajeAlerta.text-center Mensaje de alerta
    form#formAplicacion(action="/aplicaciones" method="post")
        .form-group
            label.form-label(for="DNIPaciente") Paciente:
            .input-group.has-validation
                select.form-select.is-invalid(name="DNIPaciente" id="DNIPaciente" onchange=`agenteS(${JSON.stringify(agentes)}, ${JSON.stringify(personas)})` required)
                    option(value="") Seleccione un Paciente
                        each persona in personas
                            option(value=persona.DNI) #{persona.nombre} #{persona.apellido}
                    .invalid-feedback.d-none(id="DNIPacienteSinSeleccionar") Seleccione un paciente
        .form-group
            label.form-label(for="DNIAgente") Agente de Salud:
            .input-group.has-validation
                select.form-select.is-invalid(name="DNIAgente" id="DNIAgente" class="DNIAgente" required)
                    option(value="") Seleccione un Agente de Salud
                .invalid-feedback.d-none(id="DNIAgenteSinSeleccionar") Seleccione un agente
        .form-group    
            label.form-label(for="numeroDeSerie") Lote de vacunas que se aplicará al Paciente:
            .input-group.has-validation
                select.form-select.is-invalid(name="numeroDeSerie" id="numeroDeSerie" required)
                    option(value="") Seleccione un Lote
                        each lote in lotes
                            option(value=lote.numeroDeSerie) #{lote.numeroDeSerie}
                    .invalid-feedback.d-none(id="numeroDeSerieSinSeleccionar") Seleccione un paciente
        .form-group
            label.form-label(for="fechaDeAplicacion") Fecha de Aplicación:
            .input-group.has-validation
                input.form-control.is-invalid(type="date" name="fechaDeAplicacion" id="fechaDeAplicacion" required)
                .invalid-feedback.d-none(id="fechaDeAplicacionVacio") El campo no puede estar vacío
                .invalid-feedback.d-none(id="fechaDeAplicacionSuperior") La fecha de aplicación es superior a la actual
                .invalid-feedback.d-none(id="fechaDeAplicacionNumeroDeSerie") Debe seleccionar un lote interno antes de ingresar una fecha de aplicación
                .invalid-feedback.d-none(id="fechaDeAplicacionVencimiento") ADVERTENCIA: El lote seleccionado se encuentra vencido, se recomienda discreción en la aplicación de la vacuna
        br
        div.text-center
            button(type="submit" class="btn btn-primary") Crear
            | &nbsp;&nbsp;&nbsp;&nbsp;
            button(type="button" class="btn btn-primary" onclick="window.history.back()") Volver
script.
    $(function(){
        function mostrarAlerta() {
            $('#mensajeAlerta').text("¡Datos incorrectos! Por favor, verifica la información ingresada.");
            $('#alertModal').modal('show');
        }

        function mostrarError(campo, error) {
            campo.addClass('is-invalid').removeClass('is-valid').addClass();
            $('#' + campo.attr('id') + error).removeClass('d-none');
        }

        function quitarError(campo) {
            campo.addClass('is-valid').removeClass('is-invalid');
            $('div[id^=' + campo.attr('id') + '].invalid-feedback').addClass('d-none');
        }

        function validarComboBox(campo){
            if(!campo.val()){
                mostrarError(campo, 'SinSeleccionar');
                $('#' + campo.attr('id') + 'SinSeleccionar').removeClass('d-none');
            } else {
                quitarError(campo);
            }
        }

        function agenteS(agentes, pacientes) {
            let paciente = null
            let pacienteSelect = document.getElementById("DNIPaciente").value;
            let agenteSelect = document.getElementById("DNIAgente");
            agenteSelect.innerHTML = "";  // Limpiar el contenido actual
            for (let i = 0; i < agentes.length; i++) {
                if (agentes[i].DNI != pacienteSelect) {
                    paciente = pacientes.filter(paciente => paciente.DNI===agentes[i].DNI);
                    agenteSelect.innerHTML += `<option value=${paciente[0].DNI}>${paciente[0].nombre} ${paciente[0].apellido}</option>`;
                }
            }
        }

        function validarFechaDeAplicacion() {
            quitarError($('#fechaDeAplicacion'))
            if (!$('#fechaDeAplicacion').val()) {
                mostrarError($('#fechaDeAplicacion'), 'Vacio');
            } else {
                let fechaIngresada = new Date($('#fechaDeAplicacion').val())
                let fechaActual = new Date()
                fechaIngresada.setHours(24, 0, 0, 0)
                fechaActual.setHours(0, 0, 0, 0)
                if (((fechaIngresada - fechaActual) / (1000 * 60 * 60 * 24)) > 0) {
                    mostrarError($('#fechaDeAplicacion'), 'Superior');
                } else {
                    if(!$('#numeroDeSerie')){
                        mostrarError($('#fechaDeAplicacion'), 'NumeroDeSerie')
                    } else {
                        let fecha
                    }

                    if (fechaIngresada < fechaActual) {
                        mostrarError($('#fechaDeAplicacion'), `Antiguo`);
                    } 
                }
            }
        }

        function validarFormulario() {
            let inputs = $('#formLoteProveedor input, #formLoteProveedor select');
            let camposInvalidos = false;
            inputs.each(function () {
                if ($(this).hasClass('is-invalid')) {
                    camposInvalidos = true;
                }
            });
            if (camposInvalidos) {
                mostrarAlerta();
                return false;
            }
            return true;
        }
    })