- const title = 'Listado de aplicaciones'
include ..\includes\layout
block content
body
    div.container.my-4
        div.row
            div.col-sm-12.col-md-12.col-lg-12.col-xl-12
                section#viewAplicaciones
                    h2 Listado de las aplicaciones
                    br
                    br
                    if messages.success
                        .alert.alert-success.flash-message.fade-in
                            = messages.success
                    if messages.error
                        .alert.alert-danger.flash-message.fade-in
                            = messages.error
                    div.modal#confirmBajaModal(tabindex='-1' role='dialog')
                        div.modal-dialog(role='document')
                            div.modal-content
                                div.modal-header
                                    h5.modal-title Confirmar la baja de la aplicación
                                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                                        span(aria-hidden='true') &times;
                                div.modal-body
                                    p#mensajeAlerta.text-center ¿Está seguro que desea dar de baja a esta aplicación?
                                div.modal-footer
                                    button.btn.btn-secondary#cancelBajaBtn(type='button' data-dismiss='modal') Cancelar
                                    button.btn.btn-danger#confirmBajaBtn(type='button') Confirmar
                    div.modal#confirmAltaModal(tabindex='-1' role='dialog')
                        div.modal-dialog(role='document')
                            div.modal-content
                                div.modal-header
                                    h5.modal-title Confirmar el alta de la aplicación
                                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                                        span(aria-hidden='true') &times;
                                div.modal-body
                                    p#mensajeAlerta.text-center ¿Está seguro que desea dar de alta a esta aplicación?
                                div.modal-footer
                                    button.btn.btn-secondary#cancelAltaBtn(type='button' data-dismiss='modal') Cancelar
                                    button.btn.btn-danger#confirmAltaBtn(type='button') Confirmar
                    div(style='text-align: left')
                        a.btn.btn-primary.btn-lg(href='/aplicaciones/crear') Crear
                        br
                        br
                        div.table.responsive
                            table#aplicaciones.table.table-striped.table-bordered
script.
    function formatDate(dateStr) {
        if (!dateStr) return '';
        const date = new Date(dateStr);
        const day = String(date.getUTCDate()).padStart(2, '0');
        const month = String(date.getUTCMonth() + 1).padStart(2, '0'); // January is 0
        const year = date.getUTCFullYear();
        return `${day}/${month}/${year}`;
    }
    let tabla 
    $(document).ready(function() {
        tabla = $(aplicaciones).DataTable({
            data: !{JSON.stringify(aplicaciones)},
            pageLength:5,
            lengthMenu:[5,10,15,20],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-AR.json'
            },
            columns:[
                {data: 'idAplicacion', title: 'ID de la aplicación'},
                {data: 'Persona.apellido', title: 'Apellido del Paciente'},
                {data: 'Agentedesalud.Persona.apellido', title: 'Apellido del Agente de Salud'},
                {data: 'Loteinterno.numeroDeSerie', title: 'Número de Serie de la Vacuna'},
                {data: 'fechaDeAplicacion', title: 'Fecha de Aplicación',render: function(data) { return formatDate(data); } },
                {
                    data: 'opciones', title: 'Opciones',
                    render: function (data, type, row) {
                        const editBtn = `<button title='Editar' class='btn btn-warning btn-sm fa-solid fa-pencil'></button>`
                        const deactivateBtn = `<button title='Dar de baja' class='btn btn-danger btn-sm fa-solid fa-exclamation-circle'></button>`
                        const activateBtn = `<button title='Dar de alta' class='btn btn-success btn-sm fa-solid fa-check-circle'></button>`
                        if (row.activo == 1)
                            return `${editBtn} | ${deactivateBtn}`;
                        else
                            return `${editBtn} | ${activateBtn}`;
                    }
                }
            ],
            order: [[0, 'desc']],
            columnDefs: [
                {orderable: false, targets:[4]},
                {className: 'dt-center', targets: [0, 1, 2, 3, 4, 5]},
                { width: '12%', targets: [0, 1] },
                { width: '14%', targets: [2, 3] },	
                { width: '10%', targets: [4, 5] },
            ]
        })

        function agregarMensajeSiActivoOInactivo(td, cellData, rowData, row, col) {
            if (cellData == 1) {
                $(td).text('Activo')
            } else {
                $(td).text('Inactivo')
            }
        }
    })

    $(document).ready(function() {
        $('.flash-message').addClass('fade-in')
        setTimeout(function() {
            $('.flash-message').removeClass('fade-in')
        }, 3000)

        tabla.on('click', 'button', function (f) {
            const data = tabla.row(f.target.closest('tr')).data()
            if ($(event.target).hasClass('fa-exclamation-circle')) {
                $(confirmBajaModal).modal('show')
                $(confirmBajaBtn).on('click', function() {
                    $.ajax({
                        url: `/aplicaciones/${data.idAplicacion}/baja`,
                        type: 'PUT',
                        success: function(data) {
                            if (data.success) {
                                location.reload(true)
                            } else {
                                console.error(data.message)
                            }
                        },
                        error: function(error) {
                            console.error(error)
                        }
                    })
                    $(confirmBajaModal).modal('hide')
                })

                $('#cancelBajaBtn, .modal-header button.close').on('click', function() {
                    $(confirmBajaModal).modal('hide')
                })

                $(document).on('keydown', function(e) {
                    if (e.key === 'Enter' && $(confirmBajaModal).is(':visible')) {
                        $(confirmBajaBtn).trigger('click')
                    }
                })
            } else if ($(event.target).hasClass('fa-check-circle')) {
                $(confirmAltaModal).modal('show')
                $(confirmAltaBtn).on('click', function() {
                    $.ajax({
                        url: `/aplicaciones/${data.idAplicacion}/alta`,
                        type: 'PUT',
                        success: function(data) {
                            if (data.success) {
                                location.reload(true)
                            } else {
                                console.error(data.message)
                            }
                        },
                        error: function(error) {
                            console.error(error)
                        }
                    })
                    $(confirmAltaModal).modal('hide')
                })

                $('#cancelAltaBtn, .modal-header button.close').on('click', function() {
                    $(confirmAltaModal).modal('hide')
                })

                $(document).on('keydown', function(e) {
                    if (e.key === 'Enter' && $(confirmAltaModal).is(':visible')) {
                        $(confirmAltaBtn).trigger('click')
                    }
                })
            } else {
                window.location.href = `/aplicaciones/${data.idAplicacion}`
            }
        })
    })