- const title = 'Listado de centros de vacunación'
include ..\includes\layout
block content
body
    div.container.my-4
        div.row
            div.col-sm-13.col-md-13.col-lg-13.col-xl-13
                section#viewCentrosDeVacunacion
                    h2 Listado de los centros de vacunación
                    br
                    if messages.success
                        .alert.alert-success.flash-message.fade-in
                            = messages.success
                    if messages.error
                        .alert.alert-danger.flash-message.fade-in
                            = messages.error
                    div.modal#confirmBajaModal(tabindex='-1' role='dialog')
                        div.modal-dialog(role='document')
                            div.modal-content
                                div.modal-header
                                    h5.modal-title Confirmar la baja del centro de vacunacion
                                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                                        span(aria-hidden='true') &times;
                                div.modal-body
                                    p#mensajeAlerta.text-center ¿Está seguro de que desea dar de baja este centro de vacunacion?
                                div.modal-footer
                                    button.btn.btn-secondary#cancelBajaBtn(type='button' data-dismiss='modal') Cancelar
                                    button.btn.btn-danger#confirmBajaBtn(type='button') Confirmar
                    div.modal#confirmAltaModal(tabindex='-1' role='dialog')
                        div.modal-dialog(role='document')
                            div.modal-content
                                div.modal-header
                                    h5.modal-title Confirmar el alta del centro de vacunacion
                                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                                        span(aria-hidden='true') &times;
                                div.modal-body
                                    p#mensajeAlerta.text-center ¿Está seguro de que desea dar de alta este centro de vacunacion?
                                div.modal-footer
                                    button.btn.btn-secondary#cancelAltaBtn(type='button' data-dismiss='modal') Cancelar
                                    button.btn.btn-danger#confirmAltaBtn(type='button') Confirmar
                    div(style='text-align: left')
                        a.btn.btn-primary.btn-lg(href='/centrosdevacunacion/alta') Alta
                        br
                        br
                        div.table.responsive
                            table#centrosdevacunacion.table.table-striped.table-bordered.table-centered    
script.
    let tabla 
    $(document).ready(function() {
        tabla = $(centrosdevacunacion).DataTable({
            data: !{JSON.stringify(centrosVac)},
            pageLength:20,
            lengthMenu:[20,30,35,40],
            language: {
                url: '/idiomaTabla.json'
            },
            columns:[
                {data: 'idCentroDeVacunacion', title: 'ID Centro de Vacunación'},
                {data: 'direccion', title: 'Dirección'},
                {data: 'provincia', title: 'Provincia'},
                {data: 'localidad', title: 'Localidad'},
                {data: 'activo', title: 'Estado del centro de vacunacion', createdCell: agregarMensajeSiActivoOInactivo },
                {
                    data: 'opciones', title: 'Opciones',
                    render: function (data, type, row) {
                        const editBtn = `<button title='Editar' class='btn btn-warning btn-sm fa-solid fa-pencil'></button>`
                        const deactivateBtn = `<button title='Dar de baja' class='btn btn-danger btn-sm fa-solid fa-exclamation-circle'></button>`
                        const activateBtn = `<button title='Dar de alta' class='btn btn-success btn-sm fa-solid fa-check-circle'></button>`
                        if (row.activo == 1)
                            return `${editBtn} | ${deactivateBtn}`;
                        else
                            return `${editBtn} | ${activateBtn}`;
                    }
                }
            ],
            order: [[0, 'desc']],
            columnDefs: [
                {orderable: false, targets:[5]}, 
                {searchable: false, targets:[2, 3, 4, 5]},
                {className: 'dt-center', targets: '_all'},
                { width: '15%', targets: [0, 1, 2, 3, 4] },
                { width: '10%', targets: [5] },
            ]
        })

        function agregarMensajeSiActivoOInactivo(td, cellData, rowData, row, col) {
            if (cellData == 1) {
                $(td).text('Activo')
            } else {
                $(td).text('Inactivo')
            }
        }
    })

    $(document).ready(function() {
        $('.flash-message').addClass('fade-in')
        setTimeout(function() {
            $('.flash-message').removeClass('fade-in')
        }, 3000)

        tabla.on('click', 'button', function (f) {
            const data = tabla.row(f.target.closest('tr')).data()
            if ($(event.target).hasClass('fa-exclamation-circle')) {
                $(confirmBajaModal).modal('show')
                $(confirmBajaBtn).on('click', function() {
                    $.ajax({
                        url: `/centrosdevacunacion/${data.idCentroDeVacunacion}/baja`,
                        type: 'PUT',
                        success: function(data) {
                            if (data.success) {
                                location.reload(true)
                            } else {
                                console.error(data.message)
                            }
                        },
                        error: function(error) {
                            console.error(error)
                        }
                    })
                    $(confirmBajaModal).modal('hide')
                })


                $('#cancelBajaBtn, .modal-header button.close').on('click', function() {
                    $(confirmBajaModal).modal('hide')
                })

                $(document).on('keydown', function(e) {
                    if (e.key === 'Enter' && $(confirmBajaModal).is(':visible')) {
                        $(confirmBajaBtn).trigger('click')
                    }
                })
            } else if ($(event.target).hasClass('fa-check-circle')) {
                $(confirmAltaModal).modal('show')
                $(confirmAltaBtn).on('click', function() {
                    $.ajax({
                        url: `/centrosdevacunacion/${data.idCentroDeVacunacion}/alta`,
                        type: 'PUT',  
                        success: function(data) {
                            if (data.success) {
                                location.reload(true)
                            } else {
                                console.error(data.message)
                            }
                        },
                        error: function(error) {
                            console.error(error)
                        }
                    })
                    $(confirmAltaModal).modal('hide')
                })

                $('#cancelAltaBtn, .modal-header button.close').on('click', function() {
                    $(confirmAltaModal).modal('hide')
                })

                $(document).on('keydown', function(e) {
                    if (e.key === 'Enter' && $(confirmAltaModal).is(':visible')) {
                        $(confirmAltaBtn).trigger('click')
                    }
                })
            } else if ($(event.target).hasClass('detalle')) {
                window.location.href = `/centrosdevacunacion/details/${data.idCentroDeVacunacion}`
            } else {
                window.location.href = `/centrosdevacunacion/${data.idCentroDeVacunacion}`
            }
        })
    })