- var title = 'Listado de centros de vacunación'
include ..\includes\layout
block content
body
    div.container.my-4
        div.row
            div.col-sm-13.col-md-13.col-lg-13.col-xl-13
                section#viewCentrosDeVacunacion
                    h2 Listado de los centros de vacunación
                    br
                    if messages.success
                        .alert.alert-success.flash-message.fade-in
                            = messages.success
                    if messages.error
                        .alert.alert-danger.flash-message.fade-in
                            = messages.error
                    div.modal#confirmBajaModal(tabindex="-1" role="dialog")
                        div.modal-dialog(role="document")
                            div.modal-content
                                div.modal-header
                                    h5.modal-title Confirmar la baja del centro de vacunacion
                                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                                        span(aria-hidden="true") &times;
                                div.modal-body
                                    p#mensajeAlerta.text-center ¿Está seguro de que desea dar de baja este centro de vacunacion?
                                div.modal-footer
                                    button.btn.btn-secondary(id="cancelBajaBtn" type="button" data-dismiss="modal") Cancelar
                                    button.btn.btn-danger(id="confirmBajaBtn" type="button") Confirmar
                    div.modal#confirmAltaModal(tabindex="-1" role="dialog")
                        div.modal-dialog(role="document")
                            div.modal-content
                                div.modal-header
                                    h5.modal-title Confirmar el alta del centro de vacunacion
                                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                                        span(aria-hidden="true") &times;
                                div.modal-body
                                    p#mensajeAlerta.text-center ¿Está seguro de que desea dar de alta este centro de vacunacion?
                                div.modal-footer
                                    button.btn.btn-secondary(id="cancelAltaBtn" type="button" data-dismiss="modal") Cancelar
                                    button.btn.btn-danger(id="confirmAltaBtn" type="button") Confirmar
                    div(style="text-align: left;")
                        a.btn.btn-primary.btn-lg(href="/centrosdevacunacion/alta") Alta
                        br
                        br
                        div.table.responsive
                            table#centrosdevacunacion.table.table-striped.table-bordered    
script.
    let tabla 
    $(document).ready(function() {
        tabla = $('#centrosdevacunacion').DataTable({
            data: !{JSON.stringify(centrosVac)},
            pageLength:5,
            lengthMenu:[5,10,15,20],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-AR.json'
            },
            columns:[
                {data: 'idCentroDeVacunacion', title: 'ID Centro de Vacunación'},
                {data: 'longitud', title: 'Longitud'},
                {data: 'latitud', title: 'Latitud'},
                { data: 'activo', title: 'Estado del centro de vacunacion', createdCell: agregarMensajeSiActivoOInactivo },
                {
                    data: 'opciones', title: 'Opciones',
                    render: function (data, type, row) {
                        let editBtn = `<button title="Editar" class="btn btn-primary btn-sm fa-solid fa-pencil me-2"></button>`;
                        let deactivateBtn = `<button title="Dar de baja" class="btn btn-warning btn-sm fa-solid fa-exclamation-circle"></button>`;
                        let activateBtn = `<button title="Dar de alta" class="btn btn-success btn-sm fa-solid fa-check-circle"></button>`;
                        if (row.activo == 1) {
                            return `${editBtn} ${deactivateBtn}`;
                        } else {
                            return `${editBtn} ${activateBtn}`;
                        }
                    }
                }
            ],
            columnDefs: [
                {orderable: false, targets:[4]}, // Columna de "Opciones"
                {searchable: false, targets:[1, 2, 3, 4]},
                {className: "dt-center", targets: [0, 1, 2, 3, 4]},
                { width: '20%', targets: [0, 1, 2, 3, 4] },
            ]
        });

        function agregarMensajeSiActivoOInactivo(td, cellData, rowData, row, col) {
            // Verificar si la celda está vacía y agregar el mensaje
            if (cellData == 1) {
                $(td).text("Activo");
            } else {
                $(td).text("Inactivo");
            }
        }
    });

    $(document).ready(function() {
        $('.flash-message').addClass('fade-in');
        setTimeout(function() {
            $('.flash-message').removeClass('fade-in');
        }, 3000);

        tabla.on('click', 'button', function (f) {
            let data = tabla.row(f.target.closest('tr')).data();

            if ($(event.target).hasClass('fa-exclamation-circle')) {
                // Código para dar de baja (lo mantengo igual)
                $('#confirmBajaModal').modal('show');
                $('#confirmBajaBtn').on('click', function() {
                    $.ajax({
                        url: '/centrosdevacunacion/' + data.idCentroDeVacunacion + '/baja',
                        type: 'PUT',
                        success: function(data) {
                            if (data.success) {
                                window.location.href = "/centrosdevacunacion";
                            } else {
                                console.error(data.message);
                            }
                        },
                        error: function(error) {
                            console.error(error);
                        }
                    });
                    $('#confirmBajaModal').modal('hide');
                });

                // Configurar el botón de cancelar y la 'X' para cerrar el modal
                $('#cancelBajaBtn, .modal-header button.close').on('click', function() {
                    $('#confirmBajaModal').modal('hide');
                });

                // Agregar evento al documento para escuchar la tecla 'Enter'
                $(document).on('keydown', function(e) {
                    if (e.key === 'Enter' && $('#confirmBajaModal').is(':visible')) {
                        // Disparar el evento de click en el botón de confirmación
                        $('#confirmBajaBtn').trigger('click');
                    }
                });
            } else if ($(event.target).hasClass('fa-check-circle')) {
            // Código para dar de alta
                $('#confirmAltaModal').modal('show');
                $('#confirmAltaBtn').on('click', function() {
                    $.ajax({
                        url: '/centrosdevacunacion/' + data.idCentroDeVacunacion + '/alta',
                        type: 'PUT',  // Cambiado a PUT, ya que es una acción de activación
                        success: function(data) {
                            if (data.success) {
                                window.location.href = "/centrosdevacunacion";
                            } else {
                                console.error(data.message);
                            }
                        },
                        error: function(error) {
                            console.error(error);
                        }
                    });
                    $('#confirmAltaModal').modal('hide');
                })
                $(document).on('keydown', function(e) {
                    if (e.key === 'Enter' && $('#confirmAltaModal').is(':visible')) {
                        // Disparar el evento de click en el botón de confirmación
                        $('#confirmAltaBtn').trigger('click');
                    }
                });
            } else {
                window.location.href = "/centrosdevacunacion/" + data.idCentroDeVacunacion;
            }
        });
    });