head
    title Laboratorio
section#formLaboratorio
h2 Editar Laboratorio
form(action="/laboratorios/"+laboratorio.idLaboratorio+"?_method=PUT" method="post")
    label(for="nombre") Nombre Laboratorio:
    input(type="text" id="nombre" name="nombreLaboratorio" value=laboratorio.nombreLaboratorio required)
    br
    br
    label(for="pais") País:
    input(type="text" id="pais" name="pais" value=laboratorio.pais required)
    br
    br
    label(for="email") Email:
    input(type="text" id="email" name="email" value=laboratorio.email required)
    br
    br
    label(for="telefono") Teléfono:
    input(type="text" id="telefono" name="telefono" value=laboratorio.telefono required)
    br
    br
    label(for="longitud") Longitud:
    input(type="text" id="longitud" name="longitud" value=laboratorio.longitud required)
    label(for="latitud") Latitud:
    input(type="text" id="latitud" name="latitud" value=laboratorio.latitud required)
    br
    br

    button(type="submit") Actualizar