head
    title Laboratorio
section#viewLaboratorios
h2 Listado de Laboratorios
    table
        thead
            tr
                th Nombre
                th País
                th Email
                th Teléfono
                th Longitud
                th Latitud
        tbody
            each laboratorio in laboratorios
                tr
                    td= laboratorio.nombreLaboratorio
                    td= laboratorio.pais
                    td= laboratorio.email
                    td= laboratorio.telefono
                    td= laboratorio.longitud
                    td= laboratorio.latitud 
                    td 
                        button(onclick=`redirectToURL(${laboratorio.idLaboratorio})`) Editar
                        form(method="post" action="/laboratorios/"+laboratorio.idLaboratorio+"?_method=DELETE" style="display: inline")
                            button(type="submit") Eliminar
    button(onclick="crear()") Crear 
    button(type="submit") Volver
script.
    function redirectToURL(id){
        window.location.href= "/laboratorios/" + id
    }
    function crear(){
        window.location.href= "/laboratorios/crear"
    }