- var title ='Crear Lotes Internos';
include ..\includes\layout
block content
html(lang="es")
    head
        style.
            #formLoteInterno {
                max-width: 600px;
                margin: auto;
            }
            h2 {
                text-align: center;
                text-decoration: underline;
                text-underline-offset: 4px;
                margin-top: 10px;
            }
            label {
                margin-bottom: 5px;
            }
    body
        #formLoteInterno
            h2.text-center Crear Lotes Internos
            if messages.error
                .alert.alert-danger
                    = messages.error
            br
            form(action="/lotesinternos" method="post")
                .form-group
                    label.form-label(for="idLaboratorio") Laboratorio:
                    select.form-control#laboratorioSelect(name="idLaboratorio")
                        option(value="") Selecciona un Laboratorio
                            each lab in laboratorios
                                option(value=lab.idLaboratorio)= lab.nombreLaboratorio
                    br
                .form-group
                    label.form-label(for="num-lote") Lote Proveedor:
                    select.form-control#loteProveedorSelect(name="numeroDeLote")
                        option(value="") Selecciona un Lote Proveedor
                            each numLote in lotesProveedores
                                option(value=numLote.numeroDeLote)= numLote.numeroDeLote
                    br
                .form-group
                    label.form-label(for="cant-vac") Cantidad de Vacunas:
                    .input-group.has-validation
                        input.form-control(type="text" id="cant-vac" name="cantidadDeVacunas" required)
                        .invalid-feedback(id="cantInvalido") Ingrese solo números positivos
                    br
                .form-group
                    label.form-label(for="id-deponac") Depósito Nacional:
                    select.form-control#idDepositoNacional(name="idDepositoNacional")
                        option(value="") Selecciona un Depósito Nacional
                            each depnac in depositosNacionales
                                option(value=depnac.idDepositoNacional)= depnac.idDepositoNacional
                            //option(value="null") Ningún deposito
                    br
                .form-group
                    label.form-label(for="fecha-lleg-depos-nac") Fecha Llegada Depósito Nacional:
                    .input-group.has-validation
                        input.form-control(type="date" id="fecha-lleg-depos-nac" name="fechaDeLlegadaDepositoNacional" class="fecha-llegada")
                    br
                .form-group
                    label.form-label(for="fecha-salida-depos-nac") Fecha Salida Depósito Nacional:
                    .input-group.has-validation
                        input.form-control(type="date" id="fecha-salida-depos-nac" name="fechaDeSalidaDepositoNacional" class="fecha-salida")
                    br
                .form-group
                    label.form-label(for="id-depprov") Depósito Provincial:
                    select.form-control#idDepositoProvincial(name="idDepositoProvincial")
                        option(value="") Selecciona un Depósito Provincial
                            each dprov in depositosProvinciales
                                option(value=dprov.idDepositoProvincial)= dprov.idDepositoProvincial
                            //option(value="null") Ningún deposito
                    br
                .form-group
                    label.form-label(for="fecha-lleg-depos-prov") Fecha Llegada Depósito Provincial:
                    .input-group.has-validation
                        input.form-control(type="date" id="fecha-lleg-depos-prov" name="fechaDeLlegadaDepositoProvincial")
                    br
                .form-group
                    label.form-label(for="fecha-salida-depos-prov") Fecha Salida Depósito Provincial:
                    .input-group.has-validation
                        input.form-control(type="date" id="fecha-salida-depos-prov" name="fechaDeSalidaDepositoProvincial")
                    br
                .form-group
                    label.form-label(for="id-ctrovac") Centro de Vacunación:
                    select.form-control#idCentroDeVacunacion(name="idCentroDeVacunacion")
                        option(value="") Selecciona un Centro de Vacunación
                            each cvac in centrosDeVacunaciones
                                option(value=cvac.idCentroDeVacunacion)= cvac.idCentroDeVacunacion
                            //option(value="null") Ningún centro
                    br
                .form-group           
                    label.fomr-label(for="fecha-lleg-ctro-vac") Fecha Llegada Centro Vacunación:
                    .input-group.has-validation
                        input.form-control(type="date" id="fecha-lleg-ctro-vac" name="fechaDeLlegadaCentroDeVacunacion")
                    br
                button(type="submit" class="btn btn-primary") Guardar
                | &nbsp;&nbsp;&nbsp;&nbsp;
                button(type="button" class="btn btn-primary" onclick="window.history.back()") Volver
    script.
        const cantVacunas = /^(?!0+$)[0-9]+$/;
        const fechaDepNacLlegPattern = /^(20)\d\d-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$/;
        const fechaDepNacSalPattern = /^(20)\d\d-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$/;
        const fechaDepProvLlegPattern = /^(20)\d\d-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$/;
        const fechaDepProvSalPattern = /^(20)\d\d-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$/;
        const fechaCtroVacLlegPattern = /^(20)\d\d-(0[1-9]|1[012])-(0[1-9]|[12][0-9]|3[01])$/;

        function validarRegex(regex){
            if(!regex.test($(this).val())){
                this.addClass('is-invalid');
                this.removeClass('is-valid');
            } else {
                this.addClass('is-valid');
                this.removeClass('is-invalid');
            }
        }
        
        $(function (){
            $('#cant-vac').on('keyup', validarRegex.bind($('#cant-vac'), cantVacunas));
            $('#fecha-lleg-depos-nac').on('keyup', validarRegex.bind($('#fecha-lleg-depos-nac'), fechaDepNacLleg));
            $('#fecha-salida-depos-nac').on('keyup', validarRegex.bind($('#fecha-salida-depos-nac'), fechaDepNacSal));
            $('#fecha-lleg-depos-prov').on('keyup', validarRegex.bind($('#fecha-lleg-depos-prov'), fechaDepProvLleg));
            $('#fecha-salida-depos-prov').on('keyup', validarRegex.bind($('#fecha-salida-depos-prov'), fechaDepProvSal));
            $('#fecha-lleg-ctro-vac').on('keyup', validarRegex.bind($('#fecha-lleg-ctro-vac'), fechaCtroVacLleg));
           
        });
