- const title = 'Listado de lotes internos'
include ..\includes\layout
block content
body
    div.container.my-4
        div.row
            div.col-sm-13.col-md-13.col-lg-13.col-xl-13
                section#viewLotesInternos
                    h2 Listado de los lotes internos
                    br
                    br
                    if messages.success
                        .alert.alert-success.flash-message.fade-in
                            = messages.success
                    if messages.error
                        .alert.alert-danger.flash-message.fade-in
                            = messages.error
                    div.modal#confirmBajaModal(tabindex="-1" role="dialog")
                        div.modal-dialog(role="document")
                            div.modal-content
                                div.modal-header
                                    h5.modal-title Confirmar la baja del lote interno
                                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                                        span(aria-hidden="true") &times;
                                div.modal-body
                                    p#mensajeAlerta.text-center ¿Está seguro de que desea dar de baja este lote interno?
                                div.modal-footer
                                    button.btn.btn-secondary#cancelBajaBtn(type="button" data-dismiss="modal") Cancelar
                                    button.btn.btn-danger#confirmBajaBtn(type="button") Confirmar
                    div.modal#confirmAltaModal(tabindex="-1" role="dialog")
                        div.modal-dialog(role="document")
                            div.modal-content
                                div.modal-header
                                    h5.modal-title Confirmar el alta del lote interno
                                    button.close(type="button" data-dismiss="modal" aria-label="Close")
                                        span(aria-hidden="true") &times;
                                div.modal-body
                                    p#mensajeAlerta.text-center ¿Está seguro de que desea dar de alta este lote interno?
                                div.modal-footer
                                    button.btn.btn-secondary#cancelAltaBtn(type="button" data-dismiss="modal") Cancelar
                                    button.btn.btn-danger#confirmAltaBtn(type="button") Confirmar
                    div(style="text-align: left")
                        div.table.responsive
                            table#lotesinternos.table.table-striped.table-bordered
script.
    let tabla 
    let rol = !{JSON.stringify(rol)}
    $(document).ready(function() {
        tabla = $(lotesinternos).DataTable({
            data: !{JSON.stringify(lotesInternos)},
            pageLength:15,
            lengthMenu:[15,25,35,45],
            language: {
                url: '/idiomaTabla.json'
            },
            columns:[
                {data: 'numeroDeSerie', title: 'Número de Serie'},
                {data: ['Loteproveedor.numeroDeLote'], title: 'Número de Lote'},
                {data: ['Laboratorio.nombreLaboratorio'], title: 'Laboratorio Fabricante'},
                {data: 'activo', title: 'Estado del lote interno', createdCell: agregarMensajeSiActivoOInactivo },
                {
                    data: 'opciones', title: 'Opciones',
                    render: function (data, type, row) {
                        const detailsBtn = `<button title="Detalle" class="btn btn-primary btn-sm fa fa-info-circle detalle"></button>`;
                        const editBtn = `<button title="Editar" class="btn btn-warning btn-sm fa-solid fa-pencil"></button>`
                        const deactivateBtn = `<button title="Dar de baja" class="btn btn-danger btn-sm fa-solid fa-exclamation-circle"></button>`
                        const activateBtn = `<button title="Dar de alta" class="btn btn-success btn-sm fa-solid fa-check-circle"></button>`
                        if(rol == 'Super Admin')
                            return `${detailsBtn}`
                        else if (row.activo == 1)
                            return `${detailsBtn} | ${editBtn} | ${deactivateBtn}`
                        else
                            return `${detailsBtn} | ${editBtn} | ${activateBtn}`
                    }
                }
            ],
            order: [[0, 'desc']],
            columnDefs: [
                {orderable: false, targets:[4]},
                {searchable: false, targets:[0, 1, 2, 3]},
                {className: "dt-center", targets: [0, 1, 2, 3, 4]},
                { width: "10%", targets: [2, 4] },
                { width: "5%", targets: [0, 1, 3] }
            ]
        })

        function agregarMensajeSalida(td, cellData, rowData, row, col) {
            if (!cellData) {
                $(td).text("Aún no ha salido del depósito")
            }
        }

        function agregarMensajeLlegada(td, cellData, rowData, row, col) {
            if (!cellData) {
                $(td).text("Aún no ha llegado al depósito")
            }
        }

        function agregarMensajeDep(td, cellData, rowData, row, col) {
            if (!cellData) {
                $(td).text("Aún no se encuentra en el depósito")
            }
        }

        function agregarMensajeVac(td, cellData, rowData, row, col) {
            if (!cellData) {
                $(td).text("Aún no se encuentra en el vacunatorio")
            }
        }

        function agregarMensajeSiActivoOInactivo(td, cellData, rowData, row, col) {
            if (cellData == 1) {
                $(td).text("Activo")
            } else {
                $(td).text("Inactivo")
            }
        }
    })

    $(document).ready(function() {
        $('.flash-message').addClass('fade-in')
        setTimeout(function() {
            $('.flash-message').removeClass('fade-in')
        }, 3000)

        tabla.on('click', 'button', function (f) {
            const data = tabla.row(f.target.closest('tr')).data()
            if ($(event.target).hasClass('fa-exclamation-circle')) {
                $(confirmBajaModal).modal('show')
                $(confirmBajaBtn).on('click', function() {
                    $.ajax({
                        url: `/lotesinternos/${data.numeroDeSerie}/baja`,
                        type: 'PUT',
                        success: function(data) {
                            if (data.success) {
                                location.reload(true)
                            } else {
                                console.error(data.message)
                            }
                        },
                        error: function(error) {
                            console.error(error)
                        }
                    })
                    $(confirmBajaModal).modal('hide')
                })

                $('#cancelBajaBtn, .modal-header button.close').on('click', function() {
                    $(confirmBajaModal).modal('hide')
                })

                $(document).on('keydown', function(e) {
                    if (e.key === 'Enter' && $(confirmBajaModal).is(':visible')) {
                        $(confirmBajaBtn).trigger('click')
                    }
                })
            } else if ($(event.target).hasClass('fa-check-circle')) {
                $(confirmAltaModal).modal('show')
                $(confirmAltaBtn).on('click', function() {
                    $.ajax({
                        url: `/lotesinternos/${data.numeroDeSerie}/alta`,
                        type: 'PUT',
                        success: function(data) {
                            if (data.success) {
                                location.reload(true)
                            } else {
                                console.error(data.message)
                            }
                        },
                        error: function(error) {
                            console.error(error)
                        }
                    })
                    $(confirmAltaModal).modal('hide')
                })

                $('#cancelAltaBtn, .modal-header button.close').on('click', function() {
                    $(confirmAltaModal).modal('hide')
                })

                $(document).on('keydown', function(e) {
                    if (e.key === 'Enter' && $(confirmAltaModal).is(':visible')) {
                        $(confirmAltaBtn).trigger('click')
                    }
                })
            } else if ($(event.target).hasClass('detalle')) {
                window.location.href = `/lotesinternos/details/${data.numeroDeSerie}`
            } else {
                window.location.href = `/lotesinternos/${data.numeroDeSerie}`
            }
        })
    })