head
    title Deposito Nacional
section#viewDepositosNacionales
    table
        thead
            tr
                th Longitud
                th Latitud
        tbody
            each depositoN in depositosNac
                tr
                    td= depositoN.longitud
                    td= depositoN.latitud 
                    td 
                        button(onclick=`redirectToURL(${depositoN.idDepositoNacional})`) Editar
                        form(method="post" action="/depositosprovinciales/"+depositoN.idDepositoNacional+"?_method=DELETE" style="display: inline")
                            button(type="submit") Eliminar 
    button(onclick="crear()") Crear 
    button(type="submit") Volver
script.
    function redirectToURL(id){
        window.location.href= "/depositosnacionales/" + id
    }
    function crear(){
        window.location.href= "/depositosnacionales/crear"
    }