- const title ='Detalle del descarte de vacuna'
include ..\includes\layout
block content
html(lang='es') 
body
    h2.text-center Detalle de los datos del descarte
    if messages.error
        .alert.alert-danger
            = messages.error
    div#form
        .form-group
            label.form-label.text-center(for='idUsuario') Agente autorizado
            .input-group
                input.form-control.text-center(name='idUsuario' value=descarte.Usuario.apellido+ ", "+descarte.Usuario.nombre disabled)
        .form-group
            label.form-label.text-center(for='numeroDeSerie') Nº de Serie de Lote Interno
            .input-group
                input.form-control.text-center(name='numeroDeSerie' value=descarte.numeroDeSerie disabled)
        .form-group
            label.form-label.text-center(for='empresaDescartante') Empresa Descartante
            .input-group
                input.form-control.text-center(name='empresaDescartante' value=descarte.empresaDescartante disabled)
        .form-group
            label.form-label.text-center(for='motivo') Motivo de descarte
            .input-group
                input.form-control.text-center(name='motivo' value=descarte.motivo disabled)
        .form-group
            label.form-label.text-center(for='cantidadDeVacunas') Cantidad de Vacunas
            .input-group
                input.form-control.text-center(type='text' name='cantidadDeVacunas' value=descarte.cantidadDeVacunas disabled)
        .form-group
            label.form-label.text-center(for='fechaDeDescarte') Fecha de descarte
            .input-group
                input.form-control.text-center(type='date' name='fechaDeDescarte' value=descarte.fechaDeDescarte disabled)
        br
        div.text-center
            if(user.rol != 'Super Admin')
                button.btn.btn-primary#detalle Editar
            | &nbsp;&nbsp;&nbsp;&nbsp;
            button.btn.btn-primary(type="button" onclick="window.history.back()") Volver
script.
    $(function () {
        $(detalle).on('click', function() {
            const idDescarte = !{JSON.stringify(descarte)}.idDescarte
            window.location.href = `/descartes/${idDescarte}`
        });
    })