-const title ='Actualizar el descarte de vacuna'
include ..\includes\layout
block content
html(lang='es') 
body
    h2.text-center Actualice los datos del descarte
    if messages.error
        .alert.alert-danger
            = messages.error
    div.modal#alertModal(tabindex='-1' role='dialog' aria-labelledby='alertModalLabel' aria-hidden='true')
        div.modal-dialog(role='document')
            div.modal-content
                div.modal-header
                    h5.modal-title#alertModalLabel Alerta
                    button.close(type='button' data-bs-dismiss='modal' aria-label='Close')
                        span(aria-hidden='true') ×
                div.modal-body
                    p#mensajeAlerta.text-center
    form#form(action=`/descartes/${descarte.idDescarte}?_method=PUT` method='post')
        .form-group
            label.form-label(for='numeroDeSerie') Nº de Serie de Lote Interno:
            .input-group.has-validation
                input.is-valid.form-control(id='numeroDeSerie' type='text' name='numeroDeSerie' value=descarte.numeroDeSerie readonly)
        .form-group
            label.form-label(for='empresaDescartante') Empresa Descartante:
            .input-group.has-validation
                select.form-select.is-valid#empresaDescartante(name='empresaDescartante' required)
                    each empresa in empresas
                        if(empresa != descarte.empresaDescartante)
                            option(value=empresa)= empresa
                        else
                            option(value=empresa selected)= empresa
                .invalid-feedback.d-none#empresaDescartanteSinLotes No hay empresas disponibles para el descarte
        .form-group
            label.form-label(for='motivo') Motivo de descarte:
            .input-group.has-validation
                select.form-select.is-valid#motivo(name='motivo' required)
                    each motivo in motivos
                        if(motivo != descarte.motivo)
                            option(value=motivo)= motivo
                        else
                            option(value=motivo selected)= motivo
        .form-group
            label.form-label(for='cantidadDeVacunas') Cantidad de Vacunas:
            .input-group.has-validation
                input.form-control.is-valid#cantidadDeVacunas(type='text' name='cantidadDeVacunas' value=descarte.cantidadDeVacunas required)
                .invalid-feedback.d-none#cantidadDeVacunasVacio El campo no puede estar vacío
                .invalid-feedback.d-none#cantidadDeVacunasNumeros Ingrese solo números positivos
                .invalid-feedback.d-none#cantidadDeVacunasSuperior La cantidad de vacunas ingresadas es superior a la que se encuentra en el lote, por favor corrija la cantidad
        .form-group
            label.form-label(for='fechaDeDescarte') Fecha de descarte:
            .input-group.has-validation
                input.form-control.is-valid#fechaDeDescarte(type='date' name='fechaDeDescarte' value=descarte.fechaDeDescarte required)
                .invalid-feedback.d-none#fechaDeDescarteVacio El campo no puede estar vacío
                .invalid-feedback.d-none#fechaDeDescarteSuperior La fecha seleccionada es superior a la fecha actual
                .invalid-feedback.d-none#fechaDeDescarteLlegada La fecha de descarte no puede ser previa a la fecha de llegada al depósito nacional
        br
        div.text-center
            button.btn.btn-primary(type='submit') Actualizar
            | &nbsp;&nbsp;&nbsp;&nbsp;
            button(type="button" class="btn btn-primary" onclick="window.location.href='/descartes'") Volver
script.
    $(function () {
        let descarte = !{JSON.stringify(descarte)};
        function mostrarAlerta() {
            $('#mensajeAlerta').text('¡Datos incorrectos! Por favor, verifica la información ingresada.');
            $('#alertModal').modal('show');
        }

        function mostrarError(campo, error) {
            campo.addClass('is-invalid').removeClass('is-valid');
            $(`#${campo.attr('id')}${error}`).removeClass('d-none');
        }

        function quitarError(campo) {
            campo.addClass('is-valid').removeClass('is-invalid');
            $(`div[id^=${campo.attr('id')}].invalid-feedback`).addClass('d-none');
        }

        function validarCantidadDeVacunas() {
            quitarError($('#cantidadDeVacunas'));
            if ($('#cantidadDeVacunas').val() == '') {
                mostrarError($('#cantidadDeVacunas'), 'Vacio');
                return false;
            } else if (!/^[0-9]{1,}$/.test($('#cantidadDeVacunas').val()) || $('#cantidadDeVacunas').val() < 0 || $('#cantidadDeVacunas').val()[0] == '0') {
                mostrarError($('#cantidadDeVacunas'), 'Numeros');
                return false;
            } else {
                let cantidadDeVacunasIngresadas = parseInt($('#cantidadDeVacunas').val());
                let vacunasRestantes = descarte['Loteinterno.cantidadDeVacunasRestantes'];
                if (cantidadDeVacunasIngresadas > vacunasRestantes) {
                    mostrarError($('#cantidadDeVacunas'), 'Superior');
                    return false;
                }
            }
            return true;
        }

        function validarFechaDeDescarte() {
            quitarError($('#fechaDeDescarte'));
            if (!$('#fechaDeDescarte').val()) {
                mostrarError($('#fechaDeDescarte'), 'Vacio');
                return false;
            } else {
                const fechaIngresada = new Date($('#fechaDeDescarte').val());
                const fechaActual = new Date();
                fechaIngresada.setHours(24, 0, 0, 0);
                fechaActual.setHours(0, 0, 0, 0);

                const fechaDeLlegada = new Date(descarte['Loteinterno.fechaDeLlegadaCentroDeVacunacion']);
                console.log(fechaIngresada <= fechaDeLlegada)
                if (fechaIngresada <= fechaDeLlegada) {
                    mostrarError($('#fechaDeDescarte'), 'Llegada');
                    return false;
                } else if (((fechaIngresada - fechaActual) / (1000 * 60 * 60 * 24)) > 0) {
                    mostrarError($('#fechaDeDescarte'), 'Superior');
                    return false;
                }
            }
            return true;
        }

        $('#cantidadDeVacunas').keyup(validarCantidadDeVacunas);
        $('#fechaDeDescarte').keyup(validarFechaDeDescarte);
        $('#alertModal').modal({backdrop: 'static', keyboard: false});

        function validarFormulario() {
            let formularioValido = true;
            if (!validarCantidadDeVacunas() || !validarFechaDeDescarte()) {
                mostrarAlerta()
                formularioValido = false;
            }
            return formularioValido;
        }

        $('#form button[type="submit"]').on('click', function (event) {
            if (!validarFormulario()) {
                event.preventDefault();
            }
        });

    });
