head
    title Descarte
section#formDescarte
h2 Edite el descarte
form(action=`/descartes/${descarte.idDescarte}?_method=PUT` method="post")
      label(for="persona") Seleccione un Agente de Salud:
      select#personaSelect(name="DNIAgente")
        each persona in personas 
            if(persona.DNI === descarte.DNIAgente)
                option(value=persona.DNI)= persona.nombre + ' ' + persona.apellido
        each persona in personas
                if(persona.ocupacion === "agente de salud" && persona.DNI !== descarte.DNIAgente)
                    option(value=persona.DNI)= persona.nombre + ' ' + persona.apellido            
      br
      br
      label(for="num-serie") Seleccione un Nº de Serie Lote Interno:
      select#numeroDeSerieSelect(name="numeroDeSerie")
        each loteI in lotesInternos
            if(loteI.numeroDeSerie === descarte.numeroDeSerie)
                option(value=loteI.numeroDeSerie)= loteI.numeroDeSerie
        each loteI in lotesInternos
            if(loteI.numeroDeSerie !== descarte.numeroDeSerie)
                option(value=loteI.numeroDeSerie)= loteI.numeroDeSerie                
      br
      br
      label(for="emp-desc") Empresa Descartante:
      input(type="text" id="empr-desc" name="empresaDescartante" value=descarte.empresaDescartante required)
      br
      br
      label(for="motivo") Motivo Descarte:
      input(type="text" id="motivo" name="motivo" value=descarte.motivo required)
      br
      br
      label(for="cant-vac") Cantidad de Vacunas:
      input(type="number" id="cant-vac" name="cantidadDeVacunas" value=descarte.cantidadDeVacunas required)
      br
      br
      label(for="fecha-desc") Fecha Descarte:
      input(type="date" id="fecha-desc" name="fechaDeDescarte" value=descarte.fechaDeDescarte required)
      br
      br
      
      button(type="submit") Guardar