- const title = 'Listado de descartes'
include ..\includes\layout
block content
body
    div.container.my-4
        div.row
            div.col-sm-13.col-md-13.col-lg-13.col-xl-13
                section#viewDescartes
                    h2 Listado de los descartes
                    br
                    br
                    if messages.success
                        .alert.alert-success.flash-message.fade-in
                            = messages.success
                    if messages.error
                        .alert.alert-danger.flash-message.fade-in
                            = messages.error
                    div.modal#confirmBajaModal(tabindex='-1' role='dialog')
                        div.modal-dialog(role='document')
                            div.modal-content
                                div.modal-header
                                    h5.modal-title Confirmar la baja del descarte
                                    button.close(type='button' data-dismiss='modal' aria-label='Close')
                                        span(aria-hidden='true') &times;
                                div.modal-body
                                    p#mensajeAlerta.text-center ¿Está seguro de que desea dar de baja este descarte?
                                div.modal-footer
                                    button.btn.btn-secondary#cancelBajaBtn(type='button' data-dismiss='modal') Cancelar
                                    button.btn.btn-danger#confirmBajaBtn(type='button') Confirmar
                    div(style='text-align: left')
                        a.btn.btn-primary.btn-lg(href='/descartes/crear') Alta
                        br
                        br
                        div.table.responsive
                            table#descartes.table.table-striped.table-bordered
script.
    let tabla
    $(document).ready(function(){
        tabla = $(descartes).DataTable({
            data: !{JSON.stringify(descartes)},
            pageLength:5,
            lengthMenu:[5,10,15,20],
            language: {
                url: '//cdn.datatables.net/plug-ins/1.13.7/i18n/es-AR.json'
            },
            columns:[
                {data: 'idDescarte', title: 'ID Descarte'},
                {data: 'Agentedesalud.Persona.apellido', title: 'Apellido del Agente'},
                {data: 'numeroDeSerie', title: 'N° de Serie del Lote'},
                {data: 'activo', title: 'Estado del descarte', createdCell: agregarMensajeSiActivoOInactivo },
                {
                    data: 'opciones', title: 'Opciones',
                    render: function (data, type, row) {
                        const detailsBtn = `<button title="Detalle" class="btn btn-primary btn-sm fa fa-info-circle detalle"></button>`;
                        const editBtn = `<button title='Editar' class='btn btn-warning btn-sm fa-solid fa-pencil'></button>`
                        const deactivateBtn = `<button title='Dar de baja' class='btn btn-danger btn-sm fa-solid fa-exclamation-circle'></button>`
                        const activateBtn = `<button title='Dar de alta' class='btn btn-success btn-sm fa-solid fa-check-circle'></button>`
                        if (row.activo == 1)
                            return `${detailsBtn} | ${editBtn} | ${deactivateBtn}`;
                        else
                            return `${detailsBtn} | ${editBtn} | ${activateBtn}`;
                    }
                }
            ],
            columnDefs: [
                {orderable: false, targets:[4]}, 
                {className: 'dt-center', targets: [0, 1, 2, 3, 4]},
                { width: '10%', targets: [0, 1, 2, 3, 4] },
            ]
        })
        function agregarMensajeSiActivoOInactivo(td, cellData, rowData, row, col) {
            if (cellData == 1) {
                $(td).text('Activo')
            } else {
                $(td).text('Inactivo')
            }
        }
    })

    $(document).ready(function() {
        $('.flash-message').addClass('fade-in')
        setTimeout(function() {
            $('.flash-message').removeClass('fade-in')
        }, 3000)

        tabla.on('click', 'button', function (f) {
            const data = tabla.row(f.target.closest('tr')).data()
            if ($(event.target).hasClass('fa-exclamation-circle')) {
                $(confirmBajaModal).modal('show')
                $(confirmBajaBtn).on('click', function() {
                    //¿Tiene sentido dar de baja un descarte o tiene más sentido eliminarlo? ¿Deberia poderse?
                    $.ajax({
                        url: `/descartes/${data.idDescarte}/baja`,
                        type: 'PUT',
                        success: function(data) {
                            if (data.success) {
                                location.reload(true)
                            } else {
                                console.error(data.message)
                            }
                        },
                        error: function(error) {
                            console.error(error)
                        }
                    })
                    $(confirmBajaModal).modal('hide')
                })

                $('#cancelBajaBtn, .modal-header button.close').on('click', function() {
                    $(confirmBajaModal).modal('hide')
                })

                $(document).on('keydown', function(e) {
                    if (e.key === 'Enter' && $(confirmBajaModal).is(':visible')) {
                        $(confirmBajaBtn).trigger('click')
                    }
                })
            } else if ($(event.target).hasClass('fa-check-circle')) {
                $(confirmAltaModal).modal('show')
                $(confirmAltaBtn).on('click', function() {
                    $.ajax({
                        url: `/descartes/${data.idDescarte}/alta`,
                        type: 'PUT',
                        success: function(data) {
                            if (data.success) {
                                location.reload(true)
                            } else {
                                console.error(data.message)
                            }
                        },
                        error: function(error) {
                            console.error(error)
                        }
                    })
                    $(confirmAltaModal).modal('hide')
                })

                $('#cancelAltaBtn, .modal-header button.close').on('click', function() {
                    $(confirmAltaModal).modal('hide')
                })
                
                $(document).on('keydown', function(e) {
                    if (e.key === 'Enter' && $(confirmAltaModal).is(':visible')) {
                        $(confirmAltaBtn).trigger('click')
                    }
                })
            } else {
                window.location.href = `/descartes/${data.idDescarte}`
            }
        })
    })