- var title ='Actualizar Lote Proveedor'
include ..\includes\layout
block content
html(lang="es")
    head
        style.
            #formLoteProveedor {
                max-width: 600px;
                margin: auto;
            }
            h2 {
                text-align: center;
                text-decoration: underline;
                text-underline-offset: 4px;
                margin-top: 10px;
            }
            label {
                margin-bottom: 5px;
            }
    body
        #formLoteProveedor
            h2.text-center Actualice el Lote Proveedor
            br
            form(action="/lotesproveedores/"+loteProveedor.numeroDeLote+"?_method=PUT" method="post")
                .form-group
                    label.form-label(for="idLaboratorio") Laboratorio:
                    select.form-select#laboratorioSelect(name="idLaboratorio" required)
                        each lab in laboratorios
                            if loteProveedor.idLaboratorio==lab.idLaboratorio
                                option(value=loteProveedor.idLaboratorio)=lab.nombreLaboratorio
                        each lab in laboratorios
                            if loteProveedor.idLaboratorio==lab.idLaboratorio
                                break
                            else
                                option(value=lab.idLaboratorio)=lab.nombreLaboratorio
                br
                .form-group
                    label.form-label(for="tipo-vac") Tipo de Vacuna:
                    select.form-select#tipoDeVacunaSelect(name="tipoDeVacuna" required)
                        each vac in vacunas
                            if (vac === loteProveedor.tipoDeVacuna)
                                option(value=vac selected)= vac
                            else
                                option(value=vac)= vac
                br
                .form-group
                    label.form-label(for="nombre-vac") Nombre Comercial de la Vacuna:
                    select.form-select#nombreComercialSelect(name="nombreComercial" required)
                        each nomb in nombComercial
                            if (nomb === loteProveedor.nombreComercial)
                                option(value=nomb selected)= nomb
                            else
                                option(value=nomb)= nomb
                br
                .form-group
                    label.form-label(for="cant-lote-int") Cantidad de Lotes Internos:
                    input.form-control(type="text" id="cant-lote-int" name="cantidadDeLotesInternos" value=loteProveedor.cantidadDeLotesInternos required)
                br
                .form-group
                    label.form-label(for="fecha-fab") Fecha de Fabricación de la Vacuna:
                    input.form-control(type="date" id="fecha-fab" name="fechaDeFabricacion" value=loteProveedor.fechaDeFabricacion required)
                br
                .form-group
                    label.form-label(for="fecha-compra") Fecha de Compra de la Vacuna:
                    input.form-control(type="date" id="fecha-compra" name="fechaDeCompra" value=loteProveedor.fechaDeCompra required)
                br
                .form-group
                    label.form-label(for="fecha-vto") Fecha de Vencimiento de la Vacuna:
                    input.form-control(type="date" id="fecha-vto" name="fechaDeVencimiento" value=loteProveedor.fechaDeVencimiento required)
                br
                button(type="submit" class="btn btn-primary") Actualizar
                | &nbsp;&nbsp;&nbsp;&nbsp;
                button(type="button" class="btn btn-primary" onclick="window.history.back()") Volver