- var title ='Alta de un usuario'
include ..\includes\layout
block content
html(lang="es")
body
    h2.text-center Ingrese los datos del usuario
    if messages.error
        .alert.alert-danger
            = messages.error
    div.modal#alertModal(tabindex="-1" role="dialog" aria-labelledby="alertModalLabel" aria-hidden="true")
        div.modal-dialog(role="document")
            div.modal-content
                div.modal-header
                    h5.modal-title#alertModalLabel Alerta
                    button.close(type="button" data-bs-dismiss="modal" aria-label="Close")
                        span(aria-hidden="true") ×
                div.modal-body
                    p#mensajeAlerta.text-center Mensaje de alerta
    form#form(action="/usuarios/"+usuario.idUsuario+"?_method=PUT" method="post")
        .form-group
            label.form-label(for="idUsuario") ID del usuario:
            .input-group.has-validation
                input.form-select.is-valid(type="text" id="idUsuario" name="idUsuario" value=usuario.idUsuario readonly)
        .form-group
            label.form-label(for="rol") Rol del usuario:
            .input-group.has-validation
                select.form-select.is-valid(name="rol" id="rol" required)
        .form-group
            label.form-label(for="nombre") Nombre del usuario:
            .input-group.has-validation
                input.form-control(type="text" id="nombre" name="nombre" value=usuario.nombre placeholder="Ingrese el nombre del usuario" required)
                .invalid-feedback.d-none(id="nombreVacio") El campo no puede estar vacío
                .invalid-feedback.d-none(id="nombreInvalido") El nombre debe contener más de dos y menos de cincuenta y un caracteres
                .invalid-feedback.d-none(id="nombreNumeros") El nombre solo puede contener letras
        .form-group
            label.form-label(for="apellido") Apellido del usuario:
            .input-group.has-validation
                input.form-control(type="text" id="apellido" name="apellido" value=usuario.apellido placeholder="Ingrese el apellido del usuario" required)
                .invalid-feedback.d-none(id="apellidoVacio") El campo no puede estar vacío
                .invalid-feedback.d-none(id="apellidoInvalido") El apellido debe contener más de dos y menos de cincuenta y un caracteres
                .invalid-feedback.d-none(id="apellidoNumeros") El apellido solo puede contener letras
        .form-group
            label.form-label(for="email") Email:
            .input-group.has-validation
                input.form-control(type="email" id="email" name="email" placeholder="Ingrese el email del usuario" title="Ingrese un email válido" value=usuario.email required)
                .invalid-feedback.d-none(id="emailVacio") El campo no puede estar vacío
                .invalid-feedback.d-none(id="emailInvalido") El email no es válido
        .form-group
            label.form-label(for="password") Contraseña:
            .input-group.has-validation
                input.form-control(type="password" id="password" name="password" placeholder="Ingrese una contraseña" required)
                .invalid-feedback.d-none(id="passwordVacio") El campo no puede estar vacío
        br
        div.text-center
            button(type="submit" class="btn btn-primary") Actualizar
            | &nbsp;&nbsp;&nbsp;&nbsp;
            button.btn.btn-primary(type="button" onclick="window.history.back()") Volver

script.
    $(function () {
        let rol = !{JSON.stringify(usuario)}.rol;
        function mostrarAlerta() {
            $('#mensajeAlerta').text("¡Datos incorrectos! Por favor, verifica la información ingresada.");
            $('#alertModal').modal('show');
        }

        // Funciones para mostrar y quitar errores
        function mostrarError(campo, error) {
            campo.addClass('is-invalid').removeClass('is-valid').addClass();
            $('#' + campo.attr('id') + error).removeClass('d-none');
        }

        function quitarError(campo) {
            campo.addClass('is-valid').removeClass('is-invalid');
            $('div[id^=' + campo.attr('id') + '].invalid-feedback').addClass('d-none');
        }

        function validarContrasenia(campo) {
            quitarError(campo)
            if(!campo.val()){
                mostrarError(campo, 'Vacio');
            }  
        }

        function validarNombreYApellido(campo) {
            quitarError(campo);
            if (!campo.val()) {
                mostrarError(campo, 'Vacio');
            } else if (!/^[A-Za-záéíóúüñÁÉÍÓÚÜÑ\s]{1,}$/.test(campo.val())) {
                mostrarError(campo, 'Numeros');
            } else if (campo.val().length < 3 || campo.val().length > 50) {
                mostrarError(campo, 'Invalido');
            }
        }

        function validarEmail(){
            quitarError($('#email'));
            if (!$('#email').val()) {
                mostrarError($('#email'), 'Vacio');
            } else if (!/^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test($('#email').val())) {
                mostrarError($('#email'), 'Invalido');
            } 
        }

        function cargarComboBox(){
            $('#rol').empty();
            ['Super Admin', 'Gestor de compras', 'Operador de logistica', 'Agente de salud'].forEach(rolUsuario => {
                if (rolUsuario == rol) {
                    console.log(rol == rolUsuario);
                    $('#rol').append(`<option value="${rolUsuario}" selected>${rolUsuario}</option>`);
                } else {
                    console.log(rolUsuario);
                    $('#rol').append(`<option value="${rolUsuario}">${rolUsuario}</option>`);
                }
            });
        }


        function validarFormulario() {
            let inputs = $('#form input, #form select');
            let camposInvalidos = false;
            inputs.each(function () {
                if ($(this).hasClass('is-invalid')) {
                    camposInvalidos = true;
                }
            });
            if (camposInvalidos) {
                mostrarAlerta();
                return false;
            }
            return true;
        }

        // Eventos
        validarNombreYApellido($(this))
        validarContrasenia($(this))
        cargarComboBox()
        validarEmail()

        $('#nombre, #apellido').on('keyup focusout', function () {
            validarNombreYApellido($(this));
        });

        $('#password').on('keyup focusout', function () {
            validarContrasenia($(this))
        });

        $('#email').on('keyup focusout', function() {
            validarEmail()
        });

        let press = 0
        $('#alertModal').on('keyup', function (event) {
            // Si la tecla presionada es "Enter", oculta el modal
            if(event.key === 'Enter'){
                press = press+1
            }
            if (event.key === 'Escape' || press == 2) {
                $('#alertModal').modal('hide');
                press = 0
            }
        });

        $('#alertModal').on('hidden.bs.modal', function () {
            // Buscar el primer elemento con la clase 'is-invalid' y hacer foco en él
            var primerInvalido = $('.is-invalid:first');
            if (primerInvalido.length > 0) {
                primerInvalido.focus();
            }
        });

        // Evento cuando se oculta el modal
        $('#alertModal').on('hidden.bs.modal', function () {
            // Buscar el primer elemento con la clase 'is-invalid' y hacer foco en él
            var primerInvalido = $('.is-invalid:first');
            if (primerInvalido.length > 0) {
                primerInvalido.focus();
            }
        });

        $('#nombre, #apellido, #email, #password').trigger('focusout');
        $('#rol, #provincia, #localidad').trigger('change');
        $('#nombre').trigger('focus');

        // Asociar el evento submit al formulario
        $('#form input').on('keypress', function (event) {
            if (event.which === 13) {
                console.log("Formulario enviado por teclado");
                //console.log(validarFormulario());
                if(!validarFormulario()){
                    event.preventDefault();
                }
                // Puedes agregar lógica adicional aquí si es necesario
            }
        });

        $('#form button[type="submit"]').on('click', function (event) {
            console.log("Botón de envío clickeado");
            if (!validarFormulario()) {
                event.preventDefault();
                press = 1
            }
        });
    });
